/*======================================================== DESKTOP ========================================================== */
 @media only screen and (min-width: 980px){
     #showmenu{
         display: none;
    }
     #showmenulabel{
         display: none;
    }
     header{
         position: relative;
         height: 80px 
    }
     header nav ul {
         height: 100px;
         margin-top: -1rem;
         padding-left: 5vw;
         display: flex;
         justify-content: center;
         margin-right: 15vw;
         margin-left: 10vw;
    }
     header nav ul li{
         width: 85%;
         padding-top: 1.6rem;
         border-right: 2px solid black;
         border-left: 2px solid black;
    }
     header nav ul li:first-of-type{
         display: none;
    }
     header nav ul li:nth-of-type(2){
         border-left: 4px solid black;
    }
     header nav ul li:nth-of-type(4){
         margin-right: 5rem;
         border-right: 4px solid black;
    }
     header nav ul li:nth-of-type(6){
         margin-left: 5rem;
         border-left: 4px solid black;
    }
     header nav ul li:nth-of-type(5){
         display: block;
         position: absolute;
         z-index: 10;
         background-color: transparent;
         border-right: 0;
         border-left: 0;
         width: 100px;
         padding-right: 8rem;
    }
     header nav ul li:nth-of-type(5) a img:hover{
         border-radius: 50%;
         box-shadow: 0px 1px 1px #FDB822;
    }
     header nav ul li:nth-of-type(8){
         border-right: 4px solid black;
    }
     header nav ul li a{
         border-bottom: none;
         font-size: 0.9rem;
         padding-left: 0.2vw;
         padding-right: 0.2vw;
         text-decoration: none;
         text-align: center;
         text-transform: uppercase;
         color: #FFF;
    }
     header nav ul li a:hover {
         color:#FDB822;
         background-color: transparent;
    }
     .navIcons li{
         width: 1vw;
    }
     .navIcons li:nth-of-type(1) a{
         right: 0.8vw;
         top: 20px;
    }
     .navIcons li:nth-of-type(2) a{
         top: 17px;
         margin-right: 2vw;
         right: 0.5vw;
         width: 9vw;
    }
    /*============ CAROUSEL ========================*/
     .carousel{
         height: 800px;
         margin-bottom: 2rem;
    }
     .carousel .container > div{
         height: 800px;
    }
     .carousel .container img{
         display: none;
    }
     .carousel .container div:nth-of-type(1){
         background-size: 110% 120%;
         background-position: -100px -140px;
    }
     .carousel .container div h2{
         font-size: 2.5rem;
         width: 550px;
         line-height: 3rem;
    }
     .carousel .container div p{
         font-size: 2.7rem;
         width: 400px;
         line-height: 3.5rem;
    }
     .carousel .cta{
         width: 30%;
         min-width: 320px;
         left: 65%;
         top: 70%;
         height: 70px;
         padding-top: 1.2rem;
         font-size: 1.7rem;
    }
    /*===========================main============*/
    /*=============nieuwste boeken===============*/
     main article .container{
         width: 100%;
         height: 100%;
    }
     main article .container h2{
         font-size: 2rem;
         clear: left;
         margin-left: 2%;
    }
     .flexContainerBooks .cardBooks:nth-of-type(1){
         width: 30%;
         float: left;
         height: 40vw;
         background-size: 240% 240%;
         margin-bottom: 4rem;
         margin-left: 2%;
    }
     .flexContainerBooks .cardBooks:nth-of-type(2){
         width: 30%;
         float: left;
         height: 40vw;
    }
     .flexContainerBooks .cardBooks:nth-of-type(3){
         width: 29%;
         float: left;
         height: 40vw;
         background-size: 250% 250%;
         background-position: 35% 55%;
    }
     main article .container .cardBooks p{
         font-size: 2vw;
         line-height: 3vw;
    }
     main article .container .cardBooks:nth-of-type(1) p{
         width: 22vw;
         top: 25%;
    }
     main article .container .cardBooks:nth-of-type(2) p{
         width: 30vw;
         font-size: 1.8vw;
         top: 25%;
    }
     main article .container .cardBooks:nth-of-type(3) p{
         width: 25vw;
         top: 25%;
    }
     main article .container .cardBooks h3{
         font-size: 2.5vw;
         line-height: 4vw;
         width: 70%;
         top: 22% 
    }
     main article .container .cardBooks .cta{
         width: 70%;
         left: 15%;
         font-size: 1.8vw;
         padding-top: 1.3vw;
    }
    /*======= Einde nieuwste boeken ===============*/
    /*============= het laatste nieuws ===============*/
     .cardKoeEnSushi{
         width: 48%;
         float: left;
         height: 700px;
         margin-bottom: 4rem;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type {
         width: 45%;
         height: 700px;
    }
     .cardKoeEnSushi:first-of-type{
         position: relative;
         margin-right: 2%;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type{
         display: inline-block;
         float: left;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type h3{
         color: #d98a3f;
         font-family: 'Raleway';
         font-weight: 800;
         font-size: 1.4rem;
         margin-bottom: 1rem;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi p{
         font-family: 'Raleway';
         font-weight: 600;
         font-size: 1.2rem;
         max-width: 95%;
         min-width: 400px;
         height: 90px;
         margin-bottom: 1rem;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type img{
         background-size: 130% 100%;
         background-repeat: no-repeat;
         height: 510px;
         width: 100%;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type img{
         background-image: url(../images/artikelen/sushi/sushi-plank-30C.jpg);
         background-size: 160% 200%;
         background-repeat: no-repeat;
         width: 100%;
         float: left;
         height: 510px;
         background-position: 20% 35%;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type .cta{
         max-width: 100%;
         min-width: 60%;
         left: 1%;
         position: relative;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type .cta{
         text-align: center;
         font-family: 'Raleway';
         font-weight: 700;
         font-size: 1.3rem;
         background-color: #418c9f;
         margin-top: 24rem;
         height: 60px;
         padding-top: 1.2rem;
         text-transform: uppercase;
         box-shadow: 0px 3px 6px #333333;
         width: 23%;
         left: 63%;
         position: absolute;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type .cta a{
         position: relative;
         color: #FFF;
         text-decoration: none;
         font-family: 'Raleway';
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type .cta:hover{
         box-shadow: 0px 6px 8px #595959;
    }
    /*======= Einde het laatste nieuws ===============*/
    /*============ nieuwe recepten ===============*/
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle {
         float: left;
         width: 100%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(1) {
         margin-right: 1%;
         width: 30%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(2) {
         margin-right: 1%;
         width: 30%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(3) {
         display: inline-block;
         width: 31%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(3) ul{
         height: 6.2rem;
    }
    /*============ einde nieuwe recepten ============*/
    /*============ over cuisine ===============*/
     .overCuisine{
         width: 95%;
         height: 550px;
    }
     .overCuisine p{
         font-size: 1rem;
         float: right;
         text-align: left;
         width: 50%;
         margin-bottom: 2rem;
    }
     .overCuisine p:first-of-type{
         text-align: left;
         float: right;
         width: 50%;
    }
     .overCuisine p:last-of-type{
         color: #418c9f;
         left: 1%;
         position: relative;
    }
     .overCuisine img{
         width: 45vw;
         height: 60vh;
    }
     .overCuisine .cta{
         padding-top: 1.3rem;
         font-size: 1rem;
         margin-left: -1px;
         width: 45%;
         position: relative;
         top: 22%;
         float: left;
    }
    /*============ einde over cuisine ===============*/
    /*============ FOOTER ===============*/
     footer address ul{
         font-size: 1rem;
    }
     small p{
         font-size: 1vw;
    }
    /*==================EINDE FOOTER ==============*/
    /*============== einde index.html ==================*/
    /*============ begin recepten.html =================*/
    /*============ heroImageRecepten ===================*/
     .heroImageRecepten{
         height: 800px;
    }
     .heroImageRecepten .container > div{
         height: 800px;
    }
     .heroImageRecepten .container img{
         display: none;
    }
     .heroImageRecepten .container div h2{
         top: 20%;
         right: 30%;
    }
     .heroImageRecepten .container div:nth-of-type(1){
         background-size: cover 
    }
    /*=========== einde heroImageRecepten =============*/
    /*============ Recepten ingredienten ===============*/
     .flexContainerReceptBereidingswijze{
         margin-left: 3%;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze h2:first-of-type{
         right: 110px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul{
         right: 90px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul p{
         top: 35px;
         left: 105px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:nth-of-type(2) ul{
         left: 60px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze p{
         width: 75%;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze > p{
         margin-top: 1rem;
    }
    /*========== Einde Recepten ingredienten ===========*/
    /*============ einde recepten.html ================*/
    /*============ begin nieuws.html =================*/
    /*============ heroImageNieuws ===================*/
     .heroImageNieuws{
         height: 800px;
    }
     .heroImageNieuws .container{
         height: 800px;
    }
     .heroImageNieuws .container > div{
         height: 800px;
    }
     .heroImageNieuws .container img{
         display: none;
    }
     .heroImageNieuws .container div h2{
         top: 20%;
         right: 30%;
    }
     .heroImageNieuws .container div:nth-of-type(1){
         background-size: 120% 100%;
         background-position: 0% 0%;
    }
    /*========= einde heroImageNieuws ===================*/
    /*============ nieuws artikel ===================*/
     .cardArtikelTitel{
         position: relative;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel img{
         width: 280px;
         height: 250px;
         object-fit: cover;
         margin-right: 1rem;
         margin-bottom: 1rem;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(1){
         display: block;
         width: 50%;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(2){
         width: 46%;
         position: absolute;
         top: 32%;
         right: 10px;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(3){
         width: 46%;
         position: absolute;
         top: 165%;
         right: 10px;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:last-of-type p:nth-of-type(1){
         display: block;
         width: 50%;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:last-of-type p:nth-of-type(2){
         display: block;
         width: 46%;
         position: absolute;
         top: 70%;
         right: 10px;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:last-of-type p:nth-of-type(3){
         display: block;
         width: 50%;
         clear: both;
    }
    /*========= einde nieuws artikel ===================*/
    /*========= einde nieuws.html ===================*/
    /*========= begin over-cuisine.html ===================*/
    /*========= begin heroImageOverCuisine ===================*/
     .heroImageOverCuisine{
         height: 800px;
    }
     .heroImageOverCuisine .container{
         height: 800px;
    }
     .heroImageOverCuisine .container > div{
         height: 800px;
    }
     .heroImageOverCuisine .container img{
         display: none;
    }
     .heroImageOverCuisine .container div h2{
         top: 20%;
         right: 30%;
    }
    /*========= einde heroImageOverCuisine ===================*/
    /*========= begin OverCuisine main ===================*/
     .flexContainerOverCuisine {
         position: relative;
    }
     .flexContainerOverCuisine .cardOverCuisine p:first-of-type{
         width: 48%;
         margin-left: 2rem;
    }
     .flexContainerOverCuisine .cardOverCuisine h2:last-of-type{
         display: none;
    }
     .flexContainerOverCuisine .cardOverCuisine:first-of-type p:nth-of-type(2){
         width: 20%;
    }
     .flexContainerOverCuisine .cardOverCuisine:last-of-type p:nth-of-type(2){
         position: absolute;
         top: 20px;
         right: 0;
         width: 45%;
    }
     .flexContainerOverCuisine .cardOverCuisine p:nth-of-type(3){
         position: absolute;
         height: 150px;
         top: 38%;
         right: 0;
         width: 45%;
    }
     .flexContainerOverCuisine .cardOverCuisine p:nth-of-type(4){
         position: absolute;
         top: 73%;
         right: 0;
         width: 45%;
    }
     .flexContainerOverCuisine .cardOverCuisine .floatLeft{
         display: none;
    }
     .flexContainerOverCuisine .cardOverCuisine .floatRight{
         display: none;
    }
     .flexContainerOverCuisine .cardOverCuisine img{
         width: 25%;
         height: 30vh;
         margin-left: 2rem;
         object-fit: cover;
    }
    /*========= einde OverCuisine main ===================*/
    /*============ einde Over-Cuisine.html ================*/
    /*========= begin campagne.html ===================*/
    /*========= begin heroImageCampagne ===================*/
     .heroImageCampagne{
         height: 800px;
    }
     .heroImageCampagne .container{
         height: 800px;
    }
     .heroImageCampagne .container > div{
         height: 800px;
    }
     .heroImageCampagne .container div:nth-of-type(1){
         background-size: cover;
    }
     .heroImageCampagne .container img{
         display: none;
    }
     .heroImageCampagne .container div h2{
         top: 20%;
         left: 20%;
    }
     .heroImageCampagne .container div .cta{
         width: 30%;
         max-width: 300px;
         left: 65%;
         top: 70%;
    }
    /*========= einde heroImageCampagne ===================*/
    /*========= begin Campagne koken met Nigella ============*/
     .container .flexContainerKokenNigella .cardNigellaEnVideo video {
         width: 55vw;
         float: right;
         margin-top: -1px;
    }
     .container .flexContainerKokenNigella .cardNigellaEnVideo p{
         width: 40%;
         margin-left: 2%;
         margin-top: 2rem;
    }
     .container .flexContainerKokenNigella .cardNigellaEnVideo h3{
         margin-left: 2%;
    }
     .container .flexContainerKokenNigella .cardNigellaEnVideo ul{
         margin-left: 3%;
    }
     .container .flexContainerKokenNigella .cardNigellaEnVideo .cta{
         position: relative;
         float: left;
         width: 25%;
         margin-top: 5px;
         margin-bottom: 4rem;
    }
    /*========= einde Campagne koken met Nigella ============*/
    /*========= begin nigella boekselectie ===================*/
     .flexContainerNigellaBoekselectie{
         margin-top: -4rem;
    }
     .flexContainerNigellaBoekselectie h2{
         display: block;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks{
         display: block;
         box-shadow: 1px 3px 6px #418c9f;
         width: 46%;
         margin: 1rem 2% 6rem 2%;
         height: 650px;
         padding: 1rem 1rem 3rem 1rem;
         float: left;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks h3{
         color: #d98a3f;
         font-family: 'Raleway';
         font-weight: 800;
         font-size: 1rem;
         margin-bottom: 1rem;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks p{
         font-family: 'Raleway';
         font-weight: 600;
         margin-bottom: 1rem;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks img{
         width: 100%;
         height: 72%;
         object-fit: cover;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks .cta{
         text-align: center;
         font-family: 'Raleway';
         font-weight: 700;
         font-size: 1.3rem;
         background-color: #d98a3f;
         width: 100%;
         max-width: 370px;
         height: 60px;
         padding-top: 1.2rem;
         text-transform: uppercase;
         box-shadow: 0px 3px 6px #333333;
         margin: 1.4rem auto 0rem auto;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks .cta:hover{
         box-shadow: 0px 6px 8px #595959;
    }
     .flexContainerNigellaBoekselectie .cardNigellaBooks .cta a{
         color: #FFF;
         text-decoration: none;
         font-family: 'Raleway';
    }
    /*========= einde nigella boekselectie ===================*/
    /*========= begin nigella's recepten ===================*/
     .flexContainerNigellaRecepten{
         width: 100%;
    }
     .flexContainerNigellaRecepten .cardNigellaRecepten:nth-of-type(1){
         width: 30%;
         float: left;
         height: auto;
         margin-left: 2%;
         margin-right: 1%;
         margin-top: 1rem;
    }
     .flexContainerNigellaRecepten .cardNigellaRecepten:nth-of-type(2){
         width: 30%;
         float: left;
         margin-left: 2%;
         margin-right: 2%;
         margin-top: 1rem;
    }
     .flexContainerNigellaRecepten .cardNigellaRecepten:nth-of-type(3){
         width: 30%;
         float: left;
         margin-left: 1%;
         margin-right: 2%;
         margin-bottom: 3rem;
         margin-top: 1rem;
    }
     .flexContainerNigellaRecepten .cardNigellaRecepten:nth-of-type(4){
         display: none;
    }
    /*========= einde nigella recepten ===================*/
    /*========= begin over nigella ===================*/
     .container .flexContainerOverNigella{
         display: inline-block;
         margin-bottom: -3rem;
    }
     .container .flexContainerOverNigella h2{
         margin-bottom: 2rem;
    }
     .container .flexContainerOverNigella div:nth-of-type(1) p:nth-of-type(1){
         width: 45%;
         max-width: 750px;
         margin-bottom: 3rem;
         margin-left: 2%;
    }
     .container .flexContainerOverNigella h3{
         margin-left: 2%;
    }
     .container .flexContainerOverNigella .floatLeft{
         width: 23%;
         margin-right: 3%;
         margin-left: 1%;
    }
     .container .flexContainerOverNigella .floatRight{
         float: left;
         width: 23%;
    }
     .container .flexContainerOverNigella ul div li:nth-of-type(4){
         display: inline-block;
    }
     .container .flexContainerOverNigella img{
         display: inline-block;
         position: relative;
         width: 20%;
         max-width: 550px;
         top: -300px;
         right: 16px;
    }
     .container .flexContainerOverNigella p:nth-of-type(2){
         display: inline-block;
         float: left;
         width: 23%;
         margin-left: 74%;
         margin-right: 2%;
         margin-top: -480px;
    }
     .container .flexContainerOverNigella p:nth-of-type(3){
         display: inline-block;
         position: relative;
         width: 45%;
         margin-left: 53%;
         margin-right: 2%;
         top: -190px;
    }
    /*========= over nigella ===================*/
    /*========= einde campagne.html ===================*/
    /*========= begin account.html ===================*/
    /*========= begin account ===================*/
     .container .flexContainerAccount .accountGegevens{
         border-bottom: none;
         border-top: none;
         margin-top: 11rem;
    }
     .container .flexContainerAccount .accountGegevens li{
         display: flex;
         flex-direction: row;
         border-top: 1px solid #418c9f;
         border-bottom: 1px solid #418c9f;
         padding-bottom: 1.5rem;
         padding-top: 1.5rem;
         width: 220px;
    }
     .container .flexContainerAccount .accountGegevens li:nth-of-type(2){
         border-top: 0px 
    }
     .container .flexContainerAccount .accountGegevens li:nth-of-type(3){
         border-top: 0px 
    }
     .container .flexContainerAccount .accountGegevens li:nth-of-type(4){
         border-top: 0px 
    }
     .container .flexContainerAccount .accountGegevens li a{
         font-size: 1rem;
    }
     .container .flexContainerAccount .accountGegevens li a:hover{
         font-size: 1rem;
    }
     .h2PersoonlijkeGegevens{
         display: block;
         position: absolute;
         top: 150px;
         left: 370px;
    }
     .container .flexContainerAccount .persoonlijkeGegevens{
         display: flex;
         justify-content: flex-start;
         margin-top: -24.9rem;
         margin-left: 21rem;
    }
    /*========= einde account ===================*/
    /*========= einde account.html ===================*/
    /*========= begin contact.html ===================*/
    /*========= begin contact main ===================*/
     .container .flexContainerContact{
         margin-top: 2rem;
         overflow: hidden;
    }
     .container .flexContainerContact h2{
         margin-left: 5%;
    }
     .container .flexContainerContact p{
         margin-left: 30%;
    }
     .container .flexContainerContact input[type="text"]{
         width: 40vw;
         margin-left: 30%;
    }
     .container .flexContainerContact .bericht input[type="text"]{
         width: 40vw;
    }
     .container .flexContainerContact .radioBtn{
         margin-top: 10px;
         margin-left: 30%;
         float: left;
    }
     .container .flexContainerContact .wachtwoord{
         margin: 0 0 0 38vw;
    }
     .container .flexContainerContact .wachtwoord input:last-of-type{
         width: 28%;
    }
    /*========= einde account ===================*/
    /*========= einde account.html ===================*/
    /*========= begin contact.html ===================*/
    /*========= begin contact main ===================*/
     .container .flexContainerContact h2{
         margin-left: 10%;
    }
     .container .flexContainerContact p{
         margin-left: 10%;
    }
     .container .flexContainerContact input[type="text"]{
         width: 80vw;
         margin-left: 10%;
    }
     .container .flexContainerContact .bericht input[type="text"]{
         width: 80vw;
    }
     .container .flexContainerContact .radioBtn{
         margin-left: 10%;
    }
     .container .flexContainerContact .wachtwoord{
         width: 50%;
    }
     .container .flexContainerContact .wachtwoord input:last-of-type{
         width: 70%;
         margin-left: 32vw;
    }
    /*========= einde contact main ===================*/
    /*========= einde contact.html ===================*/
    /*========= begin registreer.html ===================*/
    /*========= begin heroImageRegistreer ===================*/
     .heroImageRegistreer{
         display: none;
    }
    /*========= einde heroImageRegistreer ===================*/
    /*========= begin registreer main ===================*/
     .container .flexContainerRegistreer h2{
         margin-top: 4rem;
         margin-left: 10%;
    }
     .container .flexContainerRegistreer p{
         margin-left: 10%;
    }
     .container .flexContainerRegistreer input[type="text"]{
         width: 35vw;
         margin-left: 10%;
    }
     .container .flexContainerRegistreer #datepicker{
         background-size: 66vw 15px;
         background-position: 0 50%;
    }
     .container .flexContainerRegistreer .aantalPersonen{
         margin-left: 10%;
    }
     .container .flexContainerRegistreer .wachtwoord{
         margin: 0;
         width: 100%;
         margin-bottom: 2rem;
         margin-left: 5%;
    }
     .container .flexContainerRegistreer{
         display: flex;
         flex-direction: row;
         justify-content: space-around 
    }
     .container .flexContainerRegistreer img{
         display: block;
         width: 46vw;
         height: 35vw;
         object-fit: cover;
         margin-top: 8.5rem;
         margin-bottom: 2rem;
    }
     .container .flexContainerRegistreer .cardRegistreer:nth-of-type(1){
         width: 40vw;
    }
     .container .flexContainerRegistreer .cardRegistreer:nth-of-type(2){
         width: 50vw;
    }
    /*========= einde registreer main ===================*/
    /*========= einde registreer.html ===================*/
    /*========= begin het-laatste-nieuws.html ============*/
    /*========= begin het-laatste-nieuws main ============*/
     .flexContainerHetLaatsteNieuws h2{
         margin: 4rem 0 1rem 2vw;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws:nth-of-type(1){
         width: 30%;
         float: left;
         height: auto;
         margin-left: 2%;
         margin-right: 1%;
         margin-top: 1rem;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws:nth-of-type(2){
         width: 30%;
         float: left;
         margin-left: 2%;
         margin-right: 2%;
         margin-top: 1rem;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws:nth-of-type(3){
         width: 30%;
         float: left;
         margin-left: 1%;
         margin-right: 2%;
         margin-bottom: 3rem;
         margin-top: 1rem;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws:nth-of-type(4){
         width: 30%;
         float: left;
         height: auto;
         margin-left: 2%;
         margin-right: 1%;
         margin-top: 1rem;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws:nth-of-type(5){
         width: 30%;
         float: left;
         margin-left: 2%;
         margin-right: 2%;
         margin-top: 1rem;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws:nth-of-type(6){
         width: 30%;
         float: left;
         margin-left: 1%;
         margin-right: 2%;
         margin-bottom: 3rem;
         margin-top: 1rem;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws .cta{
         font-size: 1.2rem;
    }
    /*========= einde het-laatste-nieuws main ===================*/
    /*========= einde het-laatste-nieuws.html ===============*/
    /*========= begin recepten.html ===================*/
    /*========= begin recepten button en slider =================*/
     .containerRecepten h2{
         padding-left: 20vw;
         margin-top: 4rem;
    }
     .radioButtons{
         flex-direction: column;
         margin-right: 2vw;
         width: 100vw;
         font-size: 1rem;
         margin-bottom: 2rem;
         margin-top: 3rem;
    }
     .radioButtons input{
         margin-right: 2vw;
         margin-left: 0vw;
    }
     .radioButtons2{
         flex-direction: column;
         margin-right: 2vw;
         margin-left: 2vw;
         margin-bottom: 2rem;
         width: 100vw;
         font-size: 1rem;
    }
     .radioButtons2 input{
         margin-right: 2vw;
    }
     .radioButtons2 label:nth-of-type(1)::after{
         background-size: 25px 25px;
         width: 25px;
         height: 25px;
    }
     .radioButtons2 label:nth-of-type(2)::after{
         background-size: 25px 25px;
         width: 25px;
         height: 25px;
    }
     .radioButtons2 label:nth-of-type(3)::after{
         background-size: 25px 25px;
         width: 25px;
         height: 25px;
    }
     .slidecontainer input{
         width: 12vw;
    }
     .slidecontainer span:nth-of-type(1)::before{
         width: 100vw;
         margin-bottom: 1px;
         margin-left: 6vw;
    }
    /*========= einde recepten button en slider =================*/
    /*========= begin recepten cards =================*/
     .flexContainerRecepten{
         position: relative;
         top: -26rem;
         left: 20vw;
    }
     .flexContainerRecepten .cardRecepten {
         width: 34%;
         display: flex;
         flex-direction: column;
         margin: 0rem 0vw 2vw 3vw;
    }
     .cardRecepten:nth-of-type(6){
         display: none;
    }
     .cardRecepten:nth-of-type(5){
         display: none;
    }
     .flexContainerRecepten .pagination {
         margin: 0 50vw -7rem 27vw;
    }
    /*========= einde recepten cards =================*/
    /*========= einde recepten.html ===================*/
    /*========= begin winkelwagen.html ===================*/
    /*========= begin winkelwagen main =================*/
     .flexContainerWinkelwagen{
         margin-top: 4rem;
    }
     .container .flexContainerWinkelwagen h2{
         margin-left: 3%;
         border-bottom: 2px solid #418c9f;
         width: 93vw;
         padding-bottom: 1rem;
    }
     .cardWinkelwagen{
         margin-left: 3%;
    }
     .cardWinkelwagen img{
         width: 240px;
         height: 230px;
         margin-top: 1rem;
    }
     .cardWinkelwagen:nth-of-type(2) img{
         margin-top: -5rem;
    }
     .cardWinkelwagen div:nth-of-type(1) h2{
         margin-top: -14rem;
         float: left;
         margin-left: 16rem;
    }
     .cardWinkelwagen ul{
         width: 45%;
         height: 5rem;
         font-size: 1rem;
         line-height: 1.5rem;
         float: left;
         margin-top: -11rem;
         margin-left: 17.3rem;
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
    }
     .cardWinkelwagen .winkelwagenPrijs h3{
         clear: both;
         position: relative;
         left: 80vw;
         top: -10.2rem;
    }
     .winkelwagenPrijs label{
         position: relative;
         top: -16.1rem;
         left: 72vw 
    }
     .winkelwagenPrijs input{
         position: relative;
         top: -16rem;
         left: 73vw 
    }
     .winkelwagenPrijs a{
         position: relative;
         top: -14rem;
         left: 65vw 
    }
     .cardWinkelwagen:nth-of-type(2){
         margin-top: -4rem;
    }
     .kostenWinkelwagen{
         margin-top: -9rem;
         width: 93vw;
    }
     .kostenWinkelwagen div:nth-of-type(1) p{
         margin-left: 9rem;
         margin-top: 3rem;
    }
     .kostenWinkelwagen div:nth-of-type(1) input{
         width: 20%;
    }
     .kostenWinkelwagen table{
         position: relative;
         top: -4rem;
         left: 72.5vw;
    }
     .kostenWinkelwagen .wachtwoord{
         margin-left: 55.5vw;
         margin-bottom: 0rem;
         margin-top: -2rem;
    }
    /*========= einde winkelwagen.html ===================*/
    /*========= begin shop.html ===================*/
    /*========= begin shop hero image =================*/
     .heroImageShop{
         height: 800px;
    }
     .heroImageShop .container{
         height: 800px;
    }
     .heroImageShop .container img{
         display: none;
    }
     .heroImageShop .container > div{
         height: 800px;
    }
     .heroImageShop .container div h2{
         top: 20%;
         left: 20%;
    }
     .heroImageShop .container div .cta{
         width: 30%;
         min-width: 320px;
         left: 65%;
         top: 70%;
         height: 70px;
         padding-top: 1.2rem;
         font-size: 1.7rem;
    }
    /*========= einde shop hero image =================*/
    /*========= begin shop uitgelicht boeken ===============*/
     .container:nth-of-type(1) .flexContainerBooks2{
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: nowrap;
         margin-top: 7rem;
         border: 0;
    }
     .flexContainerBooks2 h2{
         width: 96vw;
         right: 2vw;
         display: block;
         position: absolute;
         top: -7rem;
    }
     .uitgelichtBoeken1 .cardBooks2:nth-of-type(1){
         width: 90%;
         background-position: center;
        /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
         */
         float: none;
         margin: 0rem 1rem 2rem 1rem;
    }
     .flexContainerBooks2 .uitgelichtBoeken2 h3{
         margin-top: 0rem;
    }
     .uitgelichtBoeken2 .cardBooks2:nth-of-type(1){
         background-size: cover;
         width: 90%;
         margin: 0rem 1rem 2rem 1rem;
         float: none;
        /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
         */
    }
     .uitgelichtBoeken3 .cardBooks2:nth-of-type(1){
         background-repeat: no-repeat;
         background-size: 250% 290%;
         height: 400px;
         width: 90%;
         margin: 0rem 1rem 2rem 1rem;
         background-position: 35% 50%;
         float: none;
        /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
         */
         display: block;
    }
     .uitgelichtBoeken3{
         display: inline-block;
    }
     .flexContainerBooks2 .uitgelichtBoeken2 h3{
         position: static;
         top: -36rem;
         left: 35%;
         width: 230px;
    }
     .flexContainerBooks2 .uitgelichtBoeken3 h3{
         position: static;
         top: -101rem;
         margin-top: 0;
         left: 65%;
         display: block;
    }
     .flexContainerBooks2 .uitgelichtBoeken2 h3{
         margin-top: 0rem;
    }
     main article .container .flexContainerBooks2 .uitgelichtBoekTekst{
         width: 90%;
         position: static;
         height: 0px;
         margin-bottom: 8rem;
    }
     .uitgelichtBoeken3 p{
         display: block;
         margin-bottom: 4rem;
    }
     .uitgelichtBoeken1 .prijs{
         position: static;
    }
    /*========= einde shop uitgelicht boeken =================*/
    /*========= begin shop categorieen===================*/
     .dropbtn2 {
         margin-top: 160px;
         width: 18vw;
         border-top: 0;
    }
     .dropdown2 {
         position: relative;
         display: inline-block;
    }
     .dropdown2 p{
         position: static;
         width: 250px;
         margin-left: -4rem;
    }
     .dropbtn2 p::after{
         background-image:url(../images/svg/arrow-down.svg);
         background-repeat: no-repeat;
         color: #418c9f;
    }
     .dropdown-content2 {
         display: none;
         width: 18vw;
         margin-left: -2rem;
    }
     .dropdown-content2 a {
         margin-left: 2rem;
         padding-left: 2rem;
         width: 18vw;
    }
     .dropbtn3 {
         border-top: 0;
         position: relative;
         top: 150px;
         left: 0;
         width: 18vw;
    }
     .dropdown3 {
         left: -1.1rem;
         position: relative;
         display: inline-block;
    }
     .dropdown3 p{
         position: static;
         width: 250px;
         margin-left: -3rem;
         padding-right: 45%;
         width: 18vw;
    }
     .dropdown-content3 {
         display: none;
         width: 18vw;
         margin-top: 10rem;
    }
     .dropdown-content3 a {
         margin-left: -1rem;
         padding-left: 2rem;
    }
     .slidecontainer2{
         position: relative;
         left: -30px;
         width: 15vw;
         top: 125px;
         border: 0;
         padding-left: 1rem;
    }
     .slidecontainer2 input{
         width: 6vw;
    }
    /*========= einde shop categorieen =================*/
    /*========= begin shop boeken ===================*/
     main article .container:nth-of-type(2) .flexContainerBooks2 {
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: wrap;
         margin-left: 20%;
         margin-bottom: 2rem;
         margin-top: -13rem;
         width: 73vw;
    }
     .container:nth-of-type(2) .flexContainerBooks2 h3{
         display: flex;
         margin: 2rem 0rem 1rem 0rem;
         justify-content: center;
    }
     .boeken1 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken2 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken3 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken4 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken5 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken6 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken7 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken8 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken9 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken10 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken11 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken12 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     main article .container .flexContainerBooks2 .shopBoekTekst{
         width: 15vw;
         font-size: 0.8rem 
    }
     .prijs{
         margin-right: 8vw;
         width: 40px;
    }
     main article .container:nth-of-type(2) .flexContainerBooks2 .cta{
         font-size: 1rem;
         height: 20%;
         padding-top: 0.9rem;
    }
     .boeken7{
         display: block;
    }
     .boeken8{
         display: block;
    }
     .boeken9{
         display: block;
    }
     .boeken10{
         display: block;
    }
     .boeken11{
         display: block;
    }
     .boeken12{
         display: block;
    }
    /*========= einde shop boeken =================*/
    /*========= einde shop.html ===================*/
    /*========= begin shop-reviews.html =================*/
    /*========= begin boek img met thumbnails ==============*/
     .container h2{
         margin-top: 4rem;
    }
     .container .flexContainerShop2{
         flex-direction: row-reverse;
    }
     .shop2Images img{
         width: 100%;
         height: 400px;
         margin-left: -1px;
         object-fit: cover;
    }
     .shop2ImagesThumbnail{
         margin-left: 3vw;
         display: flex;
         flex-direction: row;
    }
     .shop2ImagesThumbnail img{
         width: 60px;
         height: 70px;
         margin-right: 25px;
    }
     .shop2ImagesThumbnail img:nth-of-type(5){
         display: block;
    }
     .shop2Headers{
         width: 45vw;
         font-size: 1rem;
         order: 2;
    }
     .shop2HeaderTekst{
         font-size: 1rem;
         margin: 0rem 0 0rem 0;
         order: 1;
    }
     .flexContainerShop2 ul{
         font-size: 1rem;
         margin: 0rem 0 2rem 1rem;
         order: 4;
    }
     .flexContainerShop2 ul li:nth-of-type(4){
         display: none;
    }
     .flexContainerShop2 ul li:nth-of-type(2){
         display: none;
    }
     .flexContainerShop2 ul li:nth-of-type(6){
         display: none;
    }
     .shop2Categorieen{
         flex-direction: column;
         width: 45vw;
         font-size: 1rem;
         order: 4;
    }
     .shop2Categorieen p:nth-of-type(4){
         display: block;
    }
     .shop2Categorieen p{
         margin: 1rem 0 0rem 0;
         order: 3;
    }
     .flexContainerShop2 .shop2Prijs{
         display: block;
         order: 6;
         margin-left: 36.5vw;
    }
     .flexContainerShop2 button{
         width: 15vw;
         margin-left: 30vw;
         margin-top: 3vw;
         order: 7;
    }
    /*========= einde boek img met thumbnails ==============*/
    /*========= reviews shop2 ==============*/
     .shopContainer{
         display: flex;
         flex-direction: row;
    }
     .shopContainer h2{
         margin-bottom: 2rem;
         margin-left: 1rem;
    }
     .reviewAside{
         flex-direction: column;
         justify-content: flex-start;
         width: 25vw;
         margin-left: -90px;
         margin-right: 2rem;
         margin-top: 4rem;
    }
     .review ul{
         display: flex;
         flex-direction: row;
    }
     .review ul:nth-of-type(1){
         width: 23vw;
    }
     .review ul:nth-of-type(1) li:nth-of-type(1){
         width: 75%;
    }
     .review ul:nth-of-type(1) li:nth-of-type(2){
         width: 15vw;
         padding-left: 1vw;
    }
     .review ul:nth-of-type(1) li:nth-of-type(3){
         width: 15vw;
         padding-left: 1vw;
    }
     .review ul:nth-of-type(1) li:nth-of-type(4){
         width: 15vw;
         padding-left: 1vw;
    }
     .review p{
         width: 25vw;
         font-size: 1rem;
    }
     .review:nth-of-type(3){
         display: block;
    }
     .review:nth-of-type(4){
         display: block;
    }
    /*========= einde reviews shop2 ==============*/
    /*========= begin shop2 boeken ==============*/
     .flexContainerManyBooks2 h3{
         justify-content: center;
    }
     .flexContainerManyBooks2 .cardManyBooks2 img{
         width: 15vw;
    }
     .flexContainerManyBooks2 .cardManyBooks2 .cta{
         width: 15vw;
    }
     .flexContainerManyBooks2 .cardManyBooks2 p{
         width: 15vw;
         font-size: 1rem;
    }
     .flexContainerManyBooks2 .cardManyBooks2 p:last-of-type{
         justify-content: center;
    }
     .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(7){
         display: block;
    }
     .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(8){
         display: block;
    }
     .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(9){
         display: block;
    }
     .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(10){
         display: block;
    }
     .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(11){
         display: block;
    }
     .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(12){
         display: block;
    }
    /*========= einde shop2 boeken ==============*/
    /*========= einde shop-reviews.html ===================*/
/*========= Begin koe.html ===================*/
    .koeFlexContainer{
        display: flex;
        flex-direction: row;
        padding-left: 4rem;
        padding-top: 6rem;
        margin-top: 3rem;
        margin-bottom: 7rem;
    }    
    .dynamicContent p{
        margin-top: 2rem;
    }

/*========= einde koe.html ===================*/
}
/* Sluiting Media Query */
 