/*========================= TABLET ========================= */
 @media only screen and (min-width: 540px){
    /*============ Slider ========================*/
     .img-slide{
         height: 700px;
         object-position: 220% 110%;
    }
     #prev{
         font-size: 70px !important;
         margin-top: 17.5rem;
         margin-left: 1%;
    }
     #next{
         font-size: 70px !important;
         margin-top: -26.5rem;
         margin-left: 93.5%;
    }
     .circle{
         width: 15px;
         height: 15px;
         border-radius: 15px;
         margin-right: 2px;
    }
     #circles{
         margin-top: -6vh;
         margin-left: 46vw;
    }
     .flexSlideContainer h2{
         font-size: 1.4rem;
         top: 34%;
    }
     .flexSlideContainer p{
         font-size: 1.5rem;
         top: 45%;
    }
     .flexSlideContainer .cta{
         font-size: 1.3rem;
         top: 80%;
         width: 45%;
         height: 55px;
         padding-top: 1.1rem;
    }
    /*============ einde Slider ========================*/
    /*====================main index.html============*/
    /*=============nieuwste boeken===============*/
     main article .container{
         width: 100%;
    }
     main article .container h2{
         font-size: 1.8rem;
    }
     .flexContainerBooks .cardBooks:nth-of-type(1){
         background-size: 120% 250%;
         background-position: center;
         width: 94%;
         margin: 0rem 1rem 2rem 1rem;
         background-repeat: no-repeat;
    }
     .flexContainerBooks .cardBooks:nth-of-type(2){
         width: 94%;
         margin: 0rem 1rem 2rem 1rem;
    }
     .flexContainerBooks .cardBooks:nth-of-type(3){
         background-size: 150% 270%;
         background-position: 15% 50%;
         width: 94%;
         margin: 0rem 1rem 2rem 1rem;
    }
     main article .container .cardBooks p{
         font-size: 1.5rem;
         line-height: 2.5rem;
    }
     main article .container .cardBooks:nth-of-type(1) p{
         width: 300px;
    }
     main article .container .cardBooks:nth-of-type(2) p{
         width: 420px;
         font-size: 1.5rem;
    }
     main article .container .cardBooks:nth-of-type(3) p{
         width: 300px;
    }
     main article .container .cardBooks h3{
         font-size: 2rem;
         line-height: 2.5rem;
    }
     main article .container .cardBooks .cta{
         top: 35%;
         width: 50%;
         left: 25%;
    }
    /*======= Einde nieuwste boeken ===============*/
    /*============= het laatste nieuws ===============*/
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type{
         width: 95%;
         height: 700px;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type h3{
         font-size: 1.4rem;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type p{
         max-width: 95%;
         font-size: 1.2rem;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type img{
         background-size: cover;
         height: 80%;
         width: 100%;
    }
     .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type .cta{
         position: relative;
         width: 50%;
         top: -8rem;
         clear: both;
    }
    /*======= Einde het laatste nieuws ===============*/
    /*============ nieuwe recepten ===============*/
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle {
         float: left;
         width: 100%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(1) {
         float: left;
         margin-right: 1rem;
         margin-left: 1rem;
         width: 43%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(2) {
         float: left;
         width: 43%;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle img{
         height: 400px;
    }
     .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:nth-of-type(2) li{
         min-width: 420px;
    }
    /*============ einde nieuwe recepten ============*/
    /*============ over cuisine ===============*/
     .overCuisine{
         width: 95%;
         height: 500px;
         ;
    }
     .overCuisine p{
         font-size: 1rem;
         float: left;
         text-align: left;
         width: 48%;
         margin-top: -0.2rem;
         margin-bottom: 2rem;
    }
     .overCuisine p:first-of-type{
         text-align: left;
         clear: both;
         width: 100%;
    }
     .overCuisine p:last-of-type{
         margin-bottom: -1px;
         color: #418c9f;
         float: left;
    }
     .overCuisine img{
         width: 45%;
         height: 430px;
         object-fit: cover;
         float: left;
         margin-right: 1rem;
    }
     .overCuisine .cta{
         padding-top: 1.3rem;
         font-size: 0.9rem;
         margin-left: -1px;
         width: 45%;
         float: left;
    }
    /*============ einde over cuisine ===============*/
    /*============ FOOTER ===============*/
     footer .container{
         width: 100%;
         height: 430px;
         margin-top: 2rem;
    }
     #footerSocMed li{
         margin-left: 3rem;
    }
     footer .container div:nth-of-type(2){
         margin-top: 1rem;
         margin-bottom: 2rem;
    }
     footer .container div:nth-of-type(2) li{
         margin-top: 0.5rem;
    }
     footer address ul{
         margin-top: -9rem;
         line-height: 2.5rem;
    }
     small p{
         margin-top: -2rem;
         font-size: 2vw;
    }
    /*==================EINDE FOOTER ==================*/
    /*============== einde index.html ==================*/
    /*============ begin recepten.html =================*/
    /*============ heroImageRecepten ===================*/
     .heroImageRecepten{
         height: 700px;
    }
     .heroImageRecepten .container{
         height: 700px;
    }
     .heroImageRecepten .container > div{
         height: 700px;
    }
     .heroImageRecepten .container img{
         text-align: center;
         left: 14%;
    }
     .heroImageRecepten .container div h2{
         top: 40%;
    }
     .heroImageRecepten .container div:nth-of-type(1){
         background-size: cover 
    }
    /*=========== einde heroImageRecepten =============*/
    /*============ Recepten ingredienten ===============*/
     .flexContainerReceptBereidingswijze .cardBereidingswijze {
         padding: 1px 5rem 1rem 1rem;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze h2:first-of-type{
         float: right;
         position: absolute;
         top: 50px;
         right: 90px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze h2:last-of-type{
         position: relative;
         top: 0;
         left: 1%;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul{
         top: 10px;
         right: 75px;
         margin-right: -1rem;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul li{
         width: 35px;
         margin-right: 15px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul p{
         top: 40px;
         left: 80px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:nth-of-type(2) ul{
         float: right;
         position: relative;
         top: 120px;
         width: 190px;
         left: 80px;
         font-size: 0.9rem;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze div:nth-of-type(2) li{
         line-height: 1.3rem;
         font-family: 'Raleway';
         font-weight: 600;
         max-width: 320px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze p{
         width: 60%;
         position: relative;
         top: 1px;
         left: 1px;
    }
     .flexContainerReceptBereidingswijze .cardBereidingswijze > p{
         margin-top: 2.1rem;
    }
    /*========== Einde Recepten ingredienten ===========*/
    /*============ einde recepten.html ================*/
    /*============ begin nieuws.html =================*/
    /*============ heroImageNieuws ===================*/
     .heroImageNieuws{
         height: 700px;
    }
     .heroImageNieuws .container{
         height: 700px;
    }
     .heroImageNieuws .container > div{
         height: 700px;
    }
     .heroImageNieuws .container img{
         left: 14%;
    }
     .heroImageNieuws .container div h2{
         top: 30%;
    }
     .heroImageNieuws .container div:nth-of-type(1){
         background-size: cover;
         background-position: 20% 0%;
    }
    /*========= einde heroImageNieuws ===================*/
    /*============ nieuws artikel ===================*/
     article .container .flexContainerArtikelTitel .cardArtikelTitel h2{
         margin-left: 0%;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel img{
         width: 50%;
         height: auto;
         object-fit: cover;
         float: left;
         margin-right: 1rem;
         margin-bottom: 1rem;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(1){
         display: none;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(2){
         width: 46%;
         height: auto;
         float: right;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:last-of-type p:nth-of-type(2){
         display: none;
    }
     article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(3){
         clear: both;
    }
    /*========= einde nieuws artikel ===================*/
    /*========= einde nieuws.html ===================*/
    /*========= begin over-cuisine.html ===================*/
    /*========= begin heroImageOverCuisine ================*/
     .heroImageOverCuisine{
         height: 700px;
    }
     .heroImageOverCuisine .container{
         height: 700px;
    }
     .heroImageOverCuisine .container img{
         left: 14%;
    }
     .heroImageOverCuisine .container > div{
         height: 700px;
    }
     .heroImageOverCuisine .container div h2{
         top: 40%;
    }
    /*========= einde heroImageOverCuisine =================*/
    /*========= begin OverCuisine main ===================*/
     .flexContainerOverCuisine .cardOverCuisine p{
         clear: both;
    }
     .flexContainerOverCuisine .cardOverCuisine ul{
         width: 90%;
    }
     .flexContainerOverCuisine .cardOverCuisine:first-of-type p:nth-of-type(2){
         display: block;
         clear: right;
         width: 40%;
         float: left;
         margin-top: -1px;
    }
     .flexContainerOverCuisine .cardOverCuisine p:nth-of-type(2){
         display: block;
    }
     .flexContainerOverCuisine .cardOverCuisine p:nth-of-type(3){
         display: block;
    }
     .flexContainerOverCuisine .cardOverCuisine .floatLeft{
         float: left;
         clear: right;
         width: 48%;
    }
     .flexContainerOverCuisine .cardOverCuisine .floatRight{
         float: right;
         width: 43%;
         clear: right;
         margin-bottom: 2rem;
    }
     .flexContainerOverCuisine .cardOverCuisine .floatLeft li:nth-child(-n+9){
         display: none;
    }
     .flexContainerOverCuisine .cardOverCuisine img{
         width: 48%;
         margin-bottom: 1rem;
         float: left;
         clear: left;
    }
    /*========= einde OverCuisine main ===================*/
    /*============ einde Over-Cuisine.html ================*/
    /*========= begin campagne.html ===================*/
    /*========= begin heroImageCampagne ===================*/
     .heroImageCampagne{
         height: 700px;
    }
     .heroImageCampagne .container{
         height: 700px;
    }
     .heroImageCampagne .container img{
         left: 14%;
    }
     .heroImageCampagne .container > div{
         height: 700px;
    }
     .heroImageCampagne .container div h2{
         top: 40%;
    }
     .heroImageCampagne .container div .cta{
         margin-top: 2rem;
         padding-top: 1.2rem;
         height: 60px;
         width: 50%;
         left: 25%;
    }
    /*========= einde heroImageCampagne ===================*/
    /*========= begin Campagne koken met Nigella ===============*/
     .container .flexContainerKokenNigella .cardNigellaEnVideo .cta{
         width: 35%;
         float: right;
         margin-right: 5%;
         margin-top: -6rem;
    }
    /*========= einde campagne koken met Nigella ============*/
    /*========= begin nigella's recepten ===================*/
     .flexContainerNigellaRecepten{
         margin-top: -9rem;
    }
     .flexContainerNigellaRecepten .cardNigellaRecepten{
         float: left;
         margin-right: 2%;
         margin-left: 2%;
         width: 46%;
    }
     .flexContainerNigellaRecepten .cardNigellaRecepten .cta{
         font-size: 1.2rem;
    }
    /*========= einde nigella recepten ===================*/
    /*========= begin over nigella ===================*/
     .container .flexContainerOverNigella .floatLeft{
         float: left;
         width: 48%;
    }
     .container .flexContainerOverNigella .floatRight{
         float: right;
         width: 43%;
         margin-bottom: 2rem;
         margin-right: 2%;
    }
     .container .flexContainerOverNigella ul div:nth-of-type(2) li:nth-of-type(4){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(5){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(6){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(7){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(8){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(9){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(10){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(11){
         display: none;
    }
     .container .flexContainerOverNigella ul li:nth-of-type(12){
         display: none;
    }
     .container .flexContainerOverNigella img{
         width: 44%;
         float: left;
         margin: 1rem 4% 2rem 1rem;
    }
     .container .flexContainerOverNigella p:nth-of-type(2){
         float: left;
         width: 42%;
         margin-top: 1%;
         margin-left: 4%;
    }
     .container .flexContainerOverNigella p:nth-of-type(3){
         clear: both;
         margin-bottom: 3rem;
    }
    /*========= over nigella ===================*/
    /*========= einde campagne.html ============*/
    /*========= begin account.html ===================*/
    /*========= begin button persoonlijke gegevens =========*/
     .dropbtn {
         display: none;
    }
     .dropdown {
         display: none;
    }
     .dropdown p{
         display: none;
    }
     .dropdown-content {
         display: none;
    }
     .dropdown-content a {
         display: none;
    }
     .dropdown-content a:nth-of-type(1) {
         display: none;
    }
     .dropdown-content a:nth-of-type(2) {
         display: none;
    }
     .dropdown-content a:nth-of-type(3) {
         display: none;
    }
     .dropdown-content a p{
         display: none;
    }
    /*======= einde button persoonlijke gegevens =========*/
    /*========= begin account ===================*/
     .container .flexContainerAccount .accountGegevens{
         width: 100vw;
         display: flex;
         flex-direction: row;
         justify-content:space-between;
         border-top: 1px solid #418c9f;
         border-bottom: 1px solid #418c9f;
         padding-bottom: 1.5rem;
         padding-top: 1.5rem;
         padding-right: 2rem;
         margin-right: 2%;
    }
     .container .flexContainerAccount .accountGegevens li{
         display: inline-block;
         width: 22vw;
    }
     .container .flexContainerAccount .accountGegevens li a{
         font-family: 'Raleway';
         font-weight: 700;
         font-size: 0.8rem;
         color: black;
         text-transform: uppercase;
         text-decoration: none;
    }
     .container .flexContainerAccount .accountGegevens li a:hover{
         font-family: 'Raleway';
         font-weight: 700;
         font-size: 0.8rem;
         color: #d98a3f;
         text-decoration: underline;
    }
     .container .flexContainerAccount .persoonlijkeGegevens h2:nth-of-type(1){
         margin-top: 2rem;
    }
     .persoonlijkeGegevens form .aanhef{
         margin-bottom: 10px;
    }
     .persoonlijkeGegevens .input1 input[type="text"]{
         width: 180px;
    }
     .persoonlijkeGegevens .input1:nth-of-type(2) input[type="text"]{
         float: left;
         width: 180px;
         margin-right: 1.3rem;
    }
     .persoonlijkeGegevens .input1:nth-of-type(2){
         float: left;
    }
     .persoonlijkeGegevens .input1:nth-of-type(3) input[type="text"]{
         float: left;
         width: 130px;
         margin-right: 1.3rem;
    }
     .persoonlijkeGegevens .input1:nth-of-type(3){
         float: left;
    }
     .persoonlijkeGegevens .input1:nth-of-type(4) input[type="text"]{
         float: left;
         width: 160px;
    }
     .persoonlijkeGegevens .input1:nth-of-type(4){
         float: left;
    }
     .persoonlijkeGegevens .input1:nth-of-type(5){
         clear: both;
    }
     .persoonlijkeGegevens .input1:nth-of-type(5) input[type="text"]{
         clear: both;
         width: 180px;
    }
     .persoonlijkeGegevens .input1:nth-of-type(6){
         clear: both;
    }
     .persoonlijkeGegevens .input1:nth-of-type(7){
         float: left;
         margin-right: 1.3rem;
    }
     .persoonlijkeGegevens .huisnummerPostcode .huisnummer input[type="text"]{
         width: 130px;
         float: left;
         margin-right: 1.3rem;
         clear: right;
    }
     .persoonlijkeGegevens .huisnummerPostcode .postcode input[type="text"]{
         width: 160px;
         clear: both;
    }
     .persoonlijkeGegevens .radioBtn:nth-last-of-type(3){
         display: flex;
         flex-direction: row;
         float: left;
         margin-top: 1.5rem;
    }
     .persoonlijkeGegevens .radioBtn input[type="text"]{
         width: 312px;
         float: left;
         margin-left: 1.2rem;
         margin-top: -0.5rem;
    }
     .persoonlijkeGegevens .telefoon{
         clear: both;
         margin-bottom: -1rem;
    }
     .persoonlijkeGegevens .telefoon input[type="text"]{
         width: 220px;
    }
     .persoonlijkeGegevens .inloggegevens div:nth-of-type(2){
         float: left;
         margin-top: -1.5rem;
    }
     .persoonlijkeGegevens .inloggegevens input[type="text"]{
         float: left;
         width: 220px;
         margin-right: 1.3rem;
    }
     .persoonlijkeGegevens .wachtwoord p{
         clear: left;
    }
     .persoonlijkeGegevens .wachtwoord{
         margin-bottom: 4rem;
    }
     .persoonlijkeGegevens .wachtwoord #wachtwoord{
         float: left;
         width: 220px;
         margin-right: 1.3rem;
    }
     .container .flexContainerAccount .persoonlijkeGegevens .wachtwoord input:last-of-type{
         width: 220px;
         float: left;
         margin-top: -1.1rem;
    }
     .container .flexContainerAccount .inloggegevens label.error{
         position: absolute;
         margin-top: 44px;
    }
    /*========= einde account ===================*/
    /*========= einde account.html ===================*/
    /*========= begin contact.html ===================*/
    /*========= begin contact main ===================*/
     .container .flexContainerContact h2{
         margin-left: 10%;
    }
     .container .flexContainerContact p{
         margin-left: 10%;
    }
     .container .flexContainerContact input[type="text"]{
         width: 80vw;
         margin-left: 10%;
    }
     .container .flexContainerContact .bericht input[type="text"]{
         width: 80vw;
    }
     .container .flexContainerContact .radioBtn{
         margin-left: 10%;
    }
     .container .flexContainerContact .wachtwoord{
         width: 50%;
    }
     .container .flexContainerContact .wachtwoord input:last-of-type{
         width: 70%;
         max-width: 200px;
    }
    /*========= einde contact main ===================*/
    /*========= einde contact.html ===================*/
    /*========= begin registreer.html ===================*/
    /*========= begin heroImageRegistreer ===================*/
     .heroImageRegistreer{
         height: 700px;
    }
     .heroImageRegistreer .container{
         height: 700px;
    }
     .heroImageRegistreer .container img{
         left: 14%;
    }
     .heroImageRegistreer .container > div{
         height: 700px;
    }
     .heroImageRegistreer .container div:nth-of-type(1){
         background-size: cover;
    }
    /*========= einde heroImageRegistreer ===================*/
    /*========= begin registreer main ===================*/
     .container .flexContainerRegistreer #datepicker{
         background-size: 175vw 15px;
    }
     .container .flexContainerRegistreer .wachtwoord{
         margin: 0;
         text-align: left;
         width: 100%;
    }
     .container .flexContainerRegistreer .wachtwoord input:last-of-type{
         margin-left: 5%;
         width: 200px;
    }
    /*========= einde registreer main ===================*/
    /*========= einde registreer.html ===================*/
    /*========= begin het-laatste-nieuws.html ============*/
    /*========= begin het-laatste-nieuws main ==============*/
     .flexContainerHetLaatsteNieuws h2{
         margin: 7rem 0 1rem 3vw;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws{
         margin-right: 2%;
         margin-left: 2%;
         width: 46%;
         float: left;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws p{
         height: 150px;
    }
     .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws .cta{
         font-size: 1.2rem;
    }
    /*========= einde het-laatste-nieuws main ===============*/
    /*========= einde het-laatste-nieuws.html ===============*/
    /*========= begin recepten.html ===================*/
    /*========= begin recepten button en slider =================*/
     .containerRecepten h2{
         border-bottom: 2px solid #418c9f;
         padding-bottom: 10px;
         width: 94vw;
    }
     .radioButtons{
         flex-direction: row;
         margin-right: 2vw;
         margin-left: 3vw;
         width: 50vw;
         font-size: 0.7rem;
    }
     .radioButtons input{
         margin-right: 2vw;
         margin-left: 0vw;
    }
     .radioButtons2{
         flex-direction: row;
         width: 42vw;
    }
     .radioButtons2 input{
         margin-right: 1vw;
         margin-left: 1vw;
    }
     .radioButtons2 label:nth-of-type(1)::after{
         background-size: 20px 20px;
         width: 20px;
         height: 20px;
         margin-right: 1rem;
    }
     .radioButtons2 label:nth-of-type(2)::after{
         background-size: 20px 20px;
         width: 20px;
         height: 20px;
         margin-right: 1rem;
    }
     .radioButtons2 label:nth-of-type(3)::after{
         background-size: 20px 20px;
         width: 20px;
         height: 20px;
    }
     .slidecontainer input{
         width: 20vw;
    }
     .slidecontainer span:nth-of-type(1)::before{
         margin-right: 5vw;
    }
    /*========= einde recepten button en slider =================*/
    /*========= begin recepten cards =================*/
     .flexContainerRecepten .cardRecepten {
         width: 44%;
         display: flex;
         flex-direction: column;
         margin: 0rem 3% 5% 3%;
         float: left;
    }
     .flexContainerRecepten .cardRecepten h3{
         color: #d98a3f;
         font-family: 'Raleway';
         font-weight: 800;
         font-size: 1.2rem;
         margin-bottom: 1.5rem;
    }
    /*========= einde recepten cards =================*/
    /*========= einde recepten.html ===================*/
    /*========= begin winkelwagen.html ===================*/
    /*========= begin winkelwagen main =================*/
     .container .flexContainerWinkelwagen h2{
         width: 93vw;
    }
     .cardWinkelwagen img{
         width: 180px;
         height: 170px;
         margin-right: 10px;
    }
     .cardWinkelwagen ul{
         font-size: 0.9rem;
         line-height: 1.5rem;
         width: 28vw;
         margin-bottom: 4rem;
         margin-right: 3vw;
    }
     .cardWinkelwagen:nth-of-type(1) h3:nth-of-type(1){
         margin-bottom: 70px;
         display: flex;
         justify-content: flex-end;
         width: 20%;
         max-width: 120px 
    }
     .winkelwagenPrijs label{
         margin-bottom: 0;
         display: inline-block;
         float: left;
         padding-top: 10px;
    }
     .winkelwagenPrijs input{
         float: left;
         margin-right: 0px;
    }
     .winkelwagenPrijs a i{
         margin-bottom: 5rem;
         padding-top: 5px;
    }
     .cardWinkelwagen:nth-of-type(2) h3:nth-of-type(1){
         margin-bottom: 70px;
         display: flex;
         justify-content: flex-end;
         width: 20%;
         max-width: 120px 
    }
     .kostenWinkelwagen{
         margin-top: 0rem;
    }
     .kostenWinkelwagen div:nth-of-type(1) input{
         width: 20%;
    }
    /*========= einde winkelwagen.html ===================*/
    /*========= begin shop.html ===================*/
    /*========= begin shop hero image =================*/
     .heroImageShop{
         height: 700px;
    }
     .heroImageShop .container{
         height: 700px;
    }
     .heroImageShop .container img{
         left: 14%;
    }
     .heroImageShop .container > div{
         height: 700px;
    }
     .heroImageShop .container div h2{
         top: 40%;
    }
     .heroImageShop .container div .cta{
         margin-top: 2rem;
         padding-top: 1.2rem;
         height: 60px;
         width: 50%;
         left: 25%;
    }
    /*========= einde shop hero image =================*/
    /*========= begin shop uitgelicht boeken ===============*/
     .container:nth-of-type(1) .flexContainerBooks2{
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: nowrap;
         margin-top: 7rem;
         border-bottom: 0px;
         position: relative;
    }
     .container:nth-of-type(1) .flexContainerBooks2::after {
         content:"";
         background: black;
         position: absolute;
         bottom: 0;
         left: 1vw;
         height: 1px;
         width: 96vw;
    }
     .flexContainerBooks2 h2{
         width: 94vw;
         right: 2vw;
         display: block;
         position: absolute;
         top: -7rem;
    }
     .uitgelichtBoeken1{
         margin-top: -3rem;
    }
     .uitgelichtBoeken1 .cardBooks2:nth-of-type(1){
         width: 90%;
         background-position: center;
        /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
         */
         float: none;
         margin: 0rem 1rem 2rem 1rem;
    }
     .flexContainerBooks2 .uitgelichtBoeken2 h3{
         margin-top: 0rem;
    }
     .uitgelichtBoeken2 .cardBooks2:nth-of-type(1){
         background-size: cover;
         width: 90%;
         margin: 0rem 1rem 2rem 1rem;
         float: none;
        /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
         */
    }
     .uitgelichtBoeken3 .cardBooks2:nth-of-type(1){
         display: none;
    }
     .uitgelichtBoeken3{
         display: inline-block;
    }
     .flexContainerBooks2 .uitgelichtBoeken2 h3{
         width: 230px;
    }
     .flexContainerBooks2 .uitgelichtBoeken3 h3{
         display:none;
    }
     .flexContainerBooks2 .uitgelichtBoeken2 h3{
         margin-top: 0rem;
    }
     main article .container .flexContainerBooks2 .uitgelichtBoekTekst{
         width: 90%;
         position: static;
         height: 0px;
         margin-bottom: 9rem;
    }
     .uitgelichtBoeken3 p{
         display: none;
    }
     .uitgelichtBoeken1 .prijs{
         position: static;
    }
    /*========= einde shop uitgelicht boeken =================*/
    /*========= begin shop categorieen===================*/
     .dropbtn2 {
         margin-top: 4rem;
         width: 40vw;
    }
     .dropbtn3 {
         border-top: 1px solid black;
         border-bottom: 1px solid black;
         position: relative;
         top: -128px;
         left: 70vw;
         width: 25vw;
    }
     .slidecontainer2{
         position: relative;
         margin-top: -191px;
         left: 30vw;
         margin-bottom: 0rem;
         padding-top: 1rem;
         padding-bottom: 15px;
         width: 40vw;
         border-top: 1px solid black;
         border-bottom: 1px solid black;
    }
     .slidecontainer2 input{
         width: 20vw;
    }
    /*========= einde shop categorieen =================*/
    /*========= begin shop boeken ===================*/
     main article .container:nth-of-type(2) .flexContainerBooks2 {
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: wrap;
         margin-left: -2%;
         margin-bottom: 2rem;
         margin-top: 0rem;
    }
     .container:nth-of-type(2) .flexContainerBooks2 h3{
         margin: 3rem 0 1rem 5rem;
    }
     .boeken1 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken2 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken3 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken4 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken5 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken6 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken7 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken8 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken9 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken10 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken11 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     .boeken12 .cardBooks2:nth-of-type(1){
         height: 200px;
         width: 90%;
         background-size: cover;
    }
     main article .container .flexContainerBooks2 .shopBoekTekst{
         width: 30vw;
         font-size: 0.8rem 
    }
     .prijs{
         margin-right: 13vw;
         width: 40px;
    }
     main article .container:nth-of-type(2) .flexContainerBooks2 .cta{
         font-size: 1rem;
         height: 20%;
         padding-top: 0.9rem;
    }
     .boeken7{
         display: block;
    }
     .boeken8{
         display: block;
    }
     .boeken9{
         display: block;
    }
     .boeken10{
         display: none;
    }
     .boeken11{
         display: none;
    }
     .boeken12{
         display: none;
    }
    /*========= einde shop boeken =================*/
    /*========= einde shop.html ===================*/
    /*========= begin shop-reviews.html =================*/
    /*========= begin boek img met thumbnails ==============*/
     .container .flexContainerShop2{
         width: 95vw;
         display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
    }
     .container .flexContainerShop3{
         display: flex;
         flex-direction: column;
         width: 50vw;
    }
     .shop2Images{
         width: 50vw;
    }
     .shop2Images img{
         width: 100%;
         height: 300px;
         margin-left: -2.5vw;
    }
     .shop2ImagesThumbnail{
         margin-left: 5vw;
    }
     .shop2ImagesThumbnail img{
         width: 30px;
         height: 40px;
         margin-right: 55px;
         margin-left: -5.5vw;
    }
     .shop2Headers{
         width: 45vw;
         font-size: 0.8rem;
    }
     .shop2HeaderTekst{
         width: 45vw;
         font-size: 0.8rem;
         margin: 0rem 0 2rem 0;
    }
     .flexContainerShop2 ul{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: flex-start;
         width: 400px;
         font-size: 0.8rem;
         margin: -1rem 0 0rem 1rem;
    }
     .flexContainerShop2 ul li{
         margin: 1px 0rem 0rem 0;
         width: 215px;
    }
     .flexContainerShop2 ul li:nth-of-type(4){
         margin-left: -12vw;
    }
     .flexContainerShop2 ul li:nth-of-type(2){
         margin-left: -12vw;
    }
     .flexContainerShop2 ul li:nth-of-type(6){
         margin-left: -12vw;
    }
     .shop2Categorieen{
         width: 45vw;
         font-size: 0.8rem;
    }
     .shop2Categorieen p{
         margin: 2rem 0 0rem 0;
    }
     .flexContainerShop2 button{
         width: 45vw;
    }
    /*========= einde boek img met thumbnails ==============*/
    /*========= reviews shop2 ==============*/
     .reviewAside{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
    }
     .review ul:nth-of-type(1){
         width: 45vw;
    }
     .review ul:nth-of-type(1) li:nth-of-type(1){
         width: 35%;
    }
     .review ul:nth-of-type(1) li:nth-of-type(2){
         width: 15vw;
         padding-left: 3.5vw;
    }
     .review ul:nth-of-type(1) li:nth-of-type(3){
         width: 15vw;
         padding-left: 3.5vw;
    }
     .review ul:nth-of-type(1) li:nth-of-type(4){
         width: 15vw;
         padding-left: 3.5vw;
    }
     .review ul{
         display: flex;
         flex-direction: row;
    }
     .review .stars{
         display: flex;
         justify-content: space-between;
         width: 6rem;
    }
     .review p{
         width: 45vw;
         font-size: 0.8rem;
    }
     .review ul:nth-of-type(2){
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         width: 50vw;
         max-width: 300px;
         height: 5rem;
         margin: 0 0 3rem 0;
         font-size: 0.7rem;
    }
     .review ul:nth-of-type(2) li:nth-of-type(1){
         margin-right: 4vw;
    }
     .review ul:nth-of-type(2) li:nth-of-type(3){
         margin-right: 4vw;
    }
     .review:nth-of-type(4){
         display: none;
    }
    /*========= einde reviews shop2 ==============*/
    /*========= begin shop2 boeken ==============*/
     .flexContainerManyBooks2 h3{
         justify-content: center;
    }
     .flexContainerManyBooks2 .cardManyBooks2 img{
         width: 30vw;
         height: 250px;
    }
     .flexContainerManyBooks2 .cardManyBooks2 .cta{
         top: -55px;
         width: 30vw;
    }
     .flexContainerManyBooks2 .cardManyBooks2 p{
         text-align: center;
         width: 30vw;
         font-size: 0.8rem;
    }
     .flexContainerManyBooks2 .cardManyBooks2 p:last-of-type{
         justify-content: center;
    }
    /*========= einde shop2 boeken ==============*/
    /*========= einde shop-reviews.html ===================*/
}