 *{
     box-sizing: border-box;
}
 html{
     font-size: 100%;
     font-family: 'Raleway', sans-serif;
     font-family: 'Merriweather', serif;
}
 body{
     min-width: 320px;
     margin: 0 auto;
     position: relative;
}
 .container{
     margin: 0 auto;
     width: 100%;
}
 h1, h2, h3{
     font-family: 'Raleway', sans-serif;
     text-transform: uppercase;
}
 p, a{
     font-family: 'Raleway', sans-serif;
     font-family: 'Merriweather', serif;
}
/*============ HEADER ========================*/
/*============menu=====================*/
 nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 1.5rem 1rem;
     z-index:9000;
     background-color: rgba(0, 0, 0, 0.75);
     position: absolute;
     width:100%;
}
 nav .menu-icon {
     font-size:1rem;
     padding:0 1rem;
     width: 80px;
}
 nav .hamburger {
     flex:1;
}
 nav .menu-icon img {
     width: 100%;
     height: auto;
     display:block;
}
 .menu {
     display:block;
     width:100%;
}
 .menu ul {
     display:block;
     line-height:2;
     padding-top:2rem;
}
 .menu li{
     padding:0.7rem 1rem;
}
 .menu a {
     text-transform:uppercase;
     color:#fff;
     display:block;
     text-decoration: none;
     font-family: 'Raleway';
     font-weight: 700;
}
 .menu a:hover {
     color: #d98a3f;
}
 .menu .menu-logo {
     display:none;
}
 header h1{
     font-size: 0;
}
 .hide {
     display: none;
}
/*============ einde HEADER ========================*/
/*============ Slider ========================*/
 #slider-main{
     width: 100vw;
     overflow: hidden;
}
 .img-slide{
     width: 100%;
     height: 550px;
     z-index: 5;
     overflow-y: hidden;
     object-position: 100% 80%;
}
 #prev{
     z-index: 10;
     color: #000;
     position: absolute;
     background: transparent;
     border: none;
     font-size: 50px !important;
     margin-top: 15.5rem;
     margin-left: 0.5%;
}
 #next{
     color: #000;
     position: absolute;
     z-index: 100;
     background: transparent;
     border: none;
     font-size: 50px !important;
     margin-top: -19rem;
     margin-left: 92%;
}
 .circle{
     border: #ccc 3px solid;
     width: 15px;
     height: 15px;
     border-radius: 15px;
     margin-right: 1px;
     background: transparent;
     display: inline-block;
     cursor: pointer;
}
 #circles{
     margin-top: -6vh;
     margin-left: 45vw;
     position: absolute;
     z-index: 9000;
}
 .fa {
     color: #fff;
}
 .image-animated{
     animation: animateImage 5s ease-in-out;
    /* change time according to interval set */
}
 @keyframes animateImage {
     0%{
         opacity: .2;
         transform: scale(1.2,1.2);
    }
     20%{
         opacity: 1;
         transform: scale(1,1);
    }
     80%{
         opacity: 1;
         transform: scale(1,1);
    }
     95%{
         opacity: .8;
         transform: scale(1.2,1.2);
    }
     100%{
         opacity: .8;
         transform: scale(1.2,1.2);
    }
}
 .sliderContainer{
     position: relative;
}
 .flexSlideContainer{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
 .flexSlideContainer img{
     align-self: center;
     position: absolute;
     z-index: 10;
     top: 100px;
}
 .flexSlideContainer h2{
     align-self: center;
     position: absolute;
     z-index: 20;
     color: white;
     font-family: 'Merriweather';
     text-transform: none;
     font-size: 1.3rem;
     text-align: center;
     top: 37%;
     width: 310px;
     line-height: 2rem;
     text-shadow: 1px 1px 3px black;
}
 .flexSlideContainer p{
     align-self: center;
     position: absolute;
     z-index: 10;
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.4rem;
     text-align: center;
     line-height: 2rem;
     top: 50%;
     width: 260px;
     padding-top: 0.5rem;
     text-shadow: 1px 1px 3px black;
     border-top: 5px solid #418c9f;
}
 .flexSlideContainer div{
     display: flex;
     justify-content: center;
}
 .flexSlideContainer .cta{
     align-self: center;
     position: absolute;
     z-index: 10;
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.1rem;
     background-color: #d98a3f;
     position:absolute;
     top: 75%;
     width: 60%;
     height: 11%;
     color: #FFF;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     padding-top: 1.3rem;
     text-decoration: none;
}
 .flexSlideContainer .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
/*============ einde Slider ========================*/
/*===========================main============*/
/*=============nieuwste boeken===============*/
 main article .container .cardBooks{
     background: rgba (65, 140, 159, 0.9);
     height: 100%;
     margin-left: 2%;
     z-index: 2;
}
 main article .container h2{
     color: #418c9f;
     text-align: left;
     text-transform: uppercase;
     font-size: 1.5rem;
     margin: 2rem 0 1rem 1rem;
}
 .flexContainerBooks .cardBooks:nth-of-type(1){
     background-image: url(../images/boeken/simply-nigella/simpy-nigella-boe-overlay.jpg);
     height: 400px;
     width: 90%;
     background-position: center;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
     float: left;
     margin: 0rem 1rem 2rem 1rem;
}
 .flexContainerBooks .cardBooks:nth-of-type(2){
     background-image: url(../images/boeken/sweet/sweet-voorzijde-overlay.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: center;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .flexContainerBooks .cardBooks:nth-of-type(3){
     background-image: url(../images/boeken/jamies-superfood/jamies-super-food-overlay.jpg);
     background-repeat: no-repeat;
     background-size: 250% 290%;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: 35% 50%;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 main article .container .cardBooks p{
     color: white;
     font-family: 'Merriweather', serif;
     font-size: 1.3rem;
     text-align: center;
     position: relative;
     line-height: 2rem;
     top: 28%;
     width: 320px;
     margin: 0 auto;
     text-shadow: 1px 1px 3px black;
}
 main article .container .cardBooks:nth-of-type(1) p{
     width: 270px;
}
 main article .container .cardBooks:nth-of-type(2) p{
     width: 98%;
     font-size: 1.1rem;
     position: relative;
     top: 18%;
}
 main article .container .cardBooks:nth-of-type(3) p{
     width: 260px;
     position: relative;
     top: 18%;
}
 main article .container .cardBooks:first-of-type h3{
     position: relative;
     top: 22%;
}
 main article .container .cardBooks h3{
     color: white;
     font-size: 1.6rem;
     font-weight: 700;
     font-family: 'Raleway';
     font-style: normal;
     text-align: center;
     text-transform:none;
     position: relative;
     top: 11%;
     width: 90%;
     margin: 2rem auto 0 auto;
     text-shadow: 1px 1px 3px black;
     border-top: 7px solid #418c9f;
     padding-top: 0.5rem;
}
 main article .container .cardBooks .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.3rem;
     background-color: #d98a3f;
     position:relative;
     top: 40%;
     left: 10%;
     width: 80%;
     height: 14%;
     padding-top: 1.1rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
}
 main article .container .cardBooks .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
 main article .container .cardBooks .cta:hover{
     box-shadow: 0px 6px 8px #595959;
}
/*======= Einde nieuwste boeken ===============*/
/*============= het laatste nieuws ===============*/
 .flexContainerLaatsteNieuws{
     margin-left: 1%;
}
 .cardKoeEnSushi{
     box-shadow: 1px 3px 6px #418c9f;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     height: 550px;
     padding: 1rem 2rem 3rem 2rem;
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type h3{
     color: #d98a3f;
     font-family: 'Raleway';
     font-weight: 800;
     font-size: 1rem;
     margin-bottom: 1rem;
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type p{
     font-family: 'Raleway';
     font-weight: 600;
     margin-bottom: 1rem;
     max-width: 320px;
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type img{
     background-image: url(../images/artikelen/koe/steak-veal.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 250px;
     width: 100%;
     background-position: center;
     float: left;
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.3rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 370px;
     height: 60px;
     padding-top: 1.2rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     margin: 18rem auto 0rem auto;
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type .cta:hover{
     box-shadow: 0px 6px 8px #595959;
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:first-of-type .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
 .flexContainerLaatsteNieuws .cardKoeEnSushi:last-of-type{
     display: none;
}
/*======= Einde het laatste nieuws ===============*/
/*============ nieuwe recepten ===============*/
 .flexContainerNieuweRecepten{
     margin-left: 2%;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle {
     box-shadow: 1px 3px 6px #418c9f;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     height: auto;
     padding: 1rem 2rem 3rem 2rem;
     position: relative;
     margin-bottom: 2rem;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle h3{
     color: #d98a3f;
     font-family: 'Raleway';
     font-weight: 800;
     font-size: 1.2rem;
     margin-bottom: 1rem;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:first-of-type ul{
     display: inline-block;
     top: 10px;
     right: -10px;
     font-size: 0;
     position: absolute;
     margin-right: 1rem;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:first-of-type ul li{
     display: inline-block;
     width: 20px;
     margin-right: 4px;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:first-of-type ul li:first-of-type{
     background-image: url('../images/svg/pan.svg');
     background-size: 20px 20px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 20px;
     height: 20px;
     content:"";
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:first-of-type ul li:nth-of-type(2){
     background-image: url('../images/svg/vis.svg');
     background-size: 20px 20px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 20px;
     height: 20px;
     content:"";
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:first-of-type ul li:nth-of-type(3){
     background-image: url('../images/svg/oven.svg');
     background-size: 20px 20px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 20px;
     height: 20px;
     content:"";
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:first-of-type ul p{
     position: absolute;
     top: 35px;
     right: 5px;
     font-size: 0.7rem;
     font-family: 'Raleway';
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:nth-of-type(2) ul{
     display: flex;
     flex-direction: column;
     list-style-type: disc;
     margin-left: 1rem;
     margin-bottom: 1rem;
     font-size: 0.9rem;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle div:nth-of-type(2) li{
     line-height: 1.3rem;
     font-family: 'Raleway';
     font-weight: 500;
     max-width: 320px;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle img{
     width: 100%;
     height: auto;
     max-height: 400px;
     object-fit: cover;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(2) img{
     width: 100%;
     height: 400px;
     object-fit: cover;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 370px;
     height: 60px;
     padding-top: 1.2rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     margin: 2rem auto 0rem auto;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle .cta:hover{
     box-shadow: 0px 6px 8px #595959;
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
 .flexContainerNieuweRecepten .cardBamiKipTagliatelle:nth-of-type(3){
     display: none;
}
/*============ einde nieuwe recepten ============*/
/*============ over cuisine ===============*/
 .overCuisine{
     margin-left: 2%;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
}
 .overCuisine p{
     font-family: 'Raleway';
     font-weight: 600;
     width: 100%;
     text-align: right;
     margin-bottom: 1rem;
     margin-top: 1rem;
}
 .overCuisine p:first-of-type{
     text-align: left;
}
 .overCuisine img{
     width: 100%;
     height: 300px;
     object-fit: cover;
}
 .overCuisine p:nth-of-type(5){
     color: #418c9f;
}
 .overCuisine .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 530px;
     height: 60px;
     padding-top: 1.5rem;
     color: #FFF;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     margin: 2rem auto 3rem 2%;
     text-decoration: none;
}
 .overCuisine .cta:hover{
     box-shadow: 0px 6px 8px #595959;
}
 .overCuisine .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
/*============ einde over cuisine ===============*/
/*============ FOOTER ===============*/
 footer{
     background-repeat: no-repeat;
     background-size: 60%;
     background-color: #418c9f;
     color: white;
     line-height: 1.5rem;
}
 footer .container{
     margin-left: 1%;
     padding: 2rem 2rem 2rem 1rem;
     position: relative;
}
 footer img:hover{
     border-radius: 50%;
     box-shadow: 0px 6px 8px #595959;
}
 #footerSocMed{
     display: flex;
     flex-direction: row;
     font-size: 0;
     top: 0;
     right: 0;
     position: absolute;
}
 #footerSocMed li{
     margin-left: 1rem;
     margin-top: 4rem;
}
 #footerSocMed li a::before{
     font-family: 'FontAwesome', sans-serif;
     font-size: 3rem;
     color: #FFF;
}
 #footerSocMed li:nth-child(1) a::before{
     content: '\f082';
    /* Facebook */
}
 #footerSocMed li:nth-child(2) a::before{
     content: '\f081';
    /* twitter */
}
 #footerSocMed li:nth-child(3) a::before{
     content: '\f167';
    /* youtube */
}
 footer .container div:nth-of-type(2){
     margin-top: 1rem;
}
 footer .container div:nth-of-type(2) a{
     color: #FFF;
     line-height: 2.2rem;
     height: auto;
     font-size: 1.5rem;
     text-decoration: none;
     font-family: 'Raleway';
     text-transform: uppercase;
     font-weight: 600;
}
 footer .container div:nth-of-type(2) a:hover{
     color: #d98a3f;
     text-decoration: none;
}
 footer address ul{
     margin-top: 2rem;
     line-height: 2rem;
     text-align: right;
     font-family: 'Raleway';
}
 small p{
     text-align: center;
     width: 100%;
     font-size: 1rem;
     margin: 2rem auto 0rem auto;
     opacity: 0.7;
     font-family: 'Raleway';
}
/*===============EINDE FOOTER ======================*/
/*============== einde index.html ==================*/
/*============ begin recepten.html =================*/
/*============ heroImageRecepten ===================*/
 .heroImageRecepten{
     width: 100vw;
     height: 600px;
     overflow: hidden;
     text-align: center;
}
 .heroImageRecepten .container{
     width: 300vw;
     height: 600px;
     position: relative;
     margin-bottom: 12rem;
     text-align: center;
}
 .heroImageRecepten .container img{
     position: absolute;
     z-index: 1;
     width: 100px;
     height: auto;
     top: 15%;
     left: 12%;
     text-align: center;
}
 .heroImageRecepten .container > div{
     width: 100vw;
     height: 600px;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
}
 .heroImageRecepten .container div:nth-of-type(1){
     background-image: url('../images/hero/recepten-hero.jpg');
     left: 0;
     background-size: 200% 100%;
}
 .heroImageRecepten .container div h2{
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.6rem;
     text-align: center;
     line-height: 2rem;
     position: relative;
     top: 36%;
     width: 280px;
     margin: 0 auto;
     padding-top: 0.5rem;
     text-shadow: 1px 1px 3px black;
     border-bottom: 7px solid #418c9f;
     letter-spacing: 2px;
}
/*=========== einde heroImageRecepten =============*/
/*============ Recepten ingredienten ===============*/
 .flexContainerReceptBereidingswijze .cardBereidingswijze {
     width: 100%;
     height: auto;
     padding: 1px 1rem 1rem 1rem;
     position: relative;
     margin-bottom: 2rem;
     margin-top: 1rem;
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze h2{
     color: #d98a3f;
     font-family: 'Raleway';
     font-weight: 800;
     font-size: 1rem;
     margin-bottom: 1rem;
     margin-left: -1vw;
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul{
     display: inline-block;
     top: 20px;
     right: 20px;
     font-size: 0;
     position: absolute;
     margin-right: -1rem;
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul li{
     display: inline-block;
     width: 35px;
     margin-right: 15px;
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul li:first-of-type{
     background-image: url(../images/svg/pan.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/vis.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul li:nth-of-type(3){
     background-image: url(../images/svg/tijd.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:first-of-type ul p{
     position: absolute;
     top: 40px;
     right: 10px;
     font-size: 0.7rem;
     font-family: 'Raleway';
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:nth-of-type(2) ul{
     display: flex;
     flex-direction: column;
     list-style-type: disc;
     margin-left: 1rem;
     margin-bottom: 1rem;
     font-size: 1rem;
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze div:nth-of-type(2) li{
     line-height: 1.2rem;
     font-family: 'Raleway';
     font-weight: 600;
     max-width: 320px;
}
 .flexContainerReceptBereidingswijze .cardBereidingswijze p{
     line-height: 1.5rem;
     font-family: 'Raleway';
     font-weight: 600;
     margin-bottom: 1rem;
}
/*========== Einde Recepten ingredienten ===========*/
/*============ einde recepten.html ================*/
/*============ begin nieuws.html =================*/
/*============ heroImageNieuws ===================*/
 #animation_container {
     position: relative;
     margin: auto;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     margin-top: 5rem;
}
 #animation_container{
     background-color: rgba(0, 0, 0, 1.00);
     width: 1920px;
     height: 750px;
}
 #canvas{
     position: absolute;
     display: block;
     background-color: rgba(0, 0, 0, 1.00);
}
 #dom_overlay_container{
     pointer-events: none;
     overflow: hidden;
     width: 1920px;
     height: 750px;
     position: absolute;
     left: 0px;
     top: 0px;
     display: block;
}
/*========= einde heroImageNieuws ===================*/
/*============ nieuws artikel ===================*/
 article .container .flexContainerArtikelTitel .cardArtikelTitel{
     margin-top: 2rem;
     width: 100%;
     padding: 0 1rem 0 1rem;
}
 article .container .flexContainerArtikelTitel .cardArtikelTitel h2{
     margin-left: -1%;
}
 article .container .flexContainerArtikelTitel .cardArtikelTitel img{
     width: 100%;
     height: auto;
}
 article .container .flexContainerArtikelTitel .cardArtikelTitel:first-of-type p:nth-of-type(1){
     display: none;
}
 article .container .flexContainerArtikelTitel .cardArtikelTitel:last-of-type p:nth-of-type(2){
     display: none;
}
 article .container .flexContainerArtikelTitel .cardArtikelTitel p{
     line-height: 1.5rem;
     margin-bottom: 1rem;
     font-family: 'Raleway';
     font-weight: 700;
}
/*========= einde nieuws artikel ===================*/
/*========= einde nieuws.html ===================*/
/*========= begin over-cuisine.html ===================*/
/*========= begin heroImageOverCuisine ===================*/
 .heroImageOverCuisine{
     width: 100vw;
     height: 600px;
     overflow: hidden;
     text-align: center;
}
 .heroImageOverCuisine .container{
     width: 300vw;
     height: 600px;
     position: relative;
     margin-bottom: 12rem;
     text-align: center;
}
 .heroImageOverCuisine .container img{
     position: absolute;
     z-index: 1;
     width: 100px;
     top: 15%;
     left: 12%;
}
 .heroImageOverCuisine .container > div{
     width: 100vw;
     height: 600px;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
}
 .heroImageOverCuisine .container div:nth-of-type(1){
     background-image: url('../images/hero/over-cuisine-hero-image.jpg');
     background-size: cover;
     background-position: 30%;
}
 .heroImageOverCuisine .container div h2{
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.6rem;
     text-align: center;
     line-height: 2rem;
     position: relative;
     top: 35%;
     width: 280px;
     margin: 0 auto;
     padding-top: 0.5rem;
     text-shadow: 1px 1px 3px black;
     border-bottom: 7px solid #418c9f;
     letter-spacing: 2px;
}
/*========= einde heroImageOverCuisine ===================*/
/*========= begin OverCuisine main ===================*/
 .flexContainerOverCuisine .cardOverCuisine h2{
     margin-bottom: -0.5rem;
}
 .flexContainerOverCuisine .cardOverCuisine h2+p{
     font-weight: 900;
}
 .flexContainerOverCuisine .cardOverCuisine p{
     margin: 1rem 1rem 1rem 1rem;
     line-height: 1.5rem;
     font-family: 'Raleway';
     font-weight: 600;
}
 .flexContainerOverCuisine .cardOverCuisine p:nth-of-type(2){
     display: none;
}
 .flexContainerOverCuisine .cardOverCuisine p:nth-of-type(3){
     display: none;
}
 .flexContainerOverCuisine .cardOverCuisine ul{
     margin: 1rem 1rem 1rem 2rem;
     line-height: 1.5rem;
     list-style-type: disc;
     font-size: 1rem;
     font-family: 'Raleway';
     font-weight: 600;
}
 .flexContainerOverCuisine .cardOverCuisine img{
     margin: 0.5rem 1rem 0rem 1rem;
     width: 90%;
     height: auto;
}
/*========= einde OverCuisine main ===================*/
/*============ einde Over-Cuisine.html ================*/
/*========= begin campagne.html ===================*/
/*========= begin heroImageCampagne ===================*/
 .heroImageCampagne{
     width: 100vw;
     height: 600px;
     overflow: hidden;
     text-align: center;
}
 .heroImageCampagne .container{
     width: 300vw;
     height:600px;
     position: relative;
     margin-bottom: 12rem;
     text-align: center;
}
 .heroImageCampagne .container img{
     position: absolute;
     z-index: 1;
     width: 100px;
     top: 15%;
     left: 12%;
}
 .heroImageCampagne .container > div{
     width: 100vw;
     height: 600px;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
}
 .heroImageCampagne .container div:nth-of-type(1){
     background-image: url('../images/hero/hero-campagne-nigella-red-dress.jpg');
     background-size: 180% 110%;
     background-position: 40% 80%;
}
 .heroImageCampagne .container div h2{
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.6rem;
     text-align: center;
     line-height: 2rem;
     position: relative;
     top: 40%;
     width: 280px;
     margin: 0 auto;
     padding-top: 0.5rem;
     text-shadow: 1px 1px 3px black;
     border-bottom: 7px solid #418c9f;
     letter-spacing: 2px;
}
 .heroImageCampagne .container div .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.5rem;
     background-color: #d98a3f;
     position:absolute;
     top: 80%;
     left: 10%;
     width: 80%;
     height: 12%;
     color: #FFF;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     padding-top: 1.3rem;
     text-decoration: none;
}
 .heroImageCampagne .container div .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
/*========= einde heroImageCampagne ===================*/
/*========= begin Campagne koken met Nigella ==============*/
 .container .flexContainerKokenNigella .cardNigellaEnVideo video {
     width: 95%;
     height: auto;
     margin: 2rem 1% 0rem 2.5%;
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo h2{
     margin-top: 
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo p{
     margin-bottom: 1rem;
     margin-left: 1rem;
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     width: 90%;
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo h3{
     margin-left: 1rem;
     color: #418c9f;
     font-size: 1.2rem;
     line-height: 2rem;
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo ul{
     margin: 0 1rem 1rem 2rem;
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     list-style-type: disc;
     font-size: 1rem;
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.5rem;
     background-color: #d98a3f;
     width: 90%;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     padding-top: 1.2rem;
     height: 60px;
     margin: 2rem 0 -9rem 5%;
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo .cta a{
     font-family: 'Raleway';
     font-weight: 700;
     color: #FFF;
     text-decoration: none;
}
 .container .flexContainerKokenNigella .cardNigellaEnVideo .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
/*========= einde koken met Nigella ===================*/
/*========= begin nigella boekselectie ===================*/
 .flexContainerNigellaBoekselectie .cardNigellaBooks{
     display: none;
}
 .flexContainerNigellaBoekselectie h2{
     display: none;
}
/*========= einde nigella boekselectie ===================*/
/*========= begin nigella's recepten ===================*/
 .flexContainerNigellaRecepten .cardNigellaRecepten {
     box-shadow: 1px 3px 6px #418c9f;
     width: 94%;
     margin: 0rem 3% 2rem 3%;
     height: auto;
     padding: 1rem 1rem 2rem 1rem;
     position: relative;
     margin-bottom: 2rem;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten h3{
     color: #d98a3f;
     font-family: 'Raleway';
     font-weight: 800;
     font-size: 1.2rem;
     margin-bottom: 1.5rem;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:first-of-type ul{
     display: inline-block;
     top: 10px;
     right: 120px;
     font-size: 0;
     position: absolute;
     margin-right: -6rem;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:first-of-type ul li{
     display: inline-block;
     margin-left: 10px;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:first-of-type ul li:first-of-type{
     background-image: url(../images/svg/pan.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
     vertical-align: top;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/kip.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
     vertical-align: top;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:first-of-type ul li:nth-of-type(3){
     background-image: url(../images/svg/tijd.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
     vertical-align: top;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten:nth-last-of-type(4) div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/vega.svg);
}
 .flexContainerNigellaRecepten .cardNigellaRecepten:nth-last-of-type(2) div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/vis.svg);
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:first-of-type ul p{
     position: absolute;
     top: 35px;
     right: -5px;
     font-size: 0.7rem;
     font-family: 'Raleway';
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:nth-of-type(2) ul{
     display: flex;
     flex-direction: column;
     list-style-type: disc;
     margin-left: 1rem;
     margin-bottom: 1rem;
     font-size: 0.9rem;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten div:nth-of-type(2) li{
     line-height: 1.3rem;
     font-family: 'Raleway';
     font-weight: 500;
     max-width: 320px;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten img{
     width: 100%;
     max-height: 400px;
     object-fit: cover;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten a{
     text-decoration: none;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten .cta{
     text-align: center;
     font-family: 'Raleway';
     color: #FFF;
     text-decoration: none;
     font-weight: 700;
     font-size: 1.3rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 370px;
     height: 60px;
     padding-top: 1.2rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     margin: 2rem auto 0rem auto;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .flexContainerNigellaRecepten .cardNigellaRecepten .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
/*========= einde nigella recepten ===================*/
/*========= begin over nigella ===================*/
 .container .flexContainerOverNigella p{
     margin-bottom: 1rem;
     font-family: 'Raleway';
     font-weight: 700;
     margin-left: 1rem;
     width: 90%;
     line-height: 1.5rem;
}
 .container .flexContainerOverNigella h3{
     margin-left: 1rem;
     color: #418c9f;
     font-size: 1.2rem;
     line-height: 2rem;
}
 .container .flexContainerOverNigella ul{
     margin: 0 1rem 1rem 2rem;
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     list-style-type: disc;
     font-size: 1rem;
}
 .container .flexContainerOverNigella p:nth-of-type(2){
     margin-bottom: 2rem;
}
 .container .flexContainerOverNigella img{
     margin-bottom: 1rem;
     margin-left: 3%;
     width: 95%;
}
/*========= einde over nigella ======================*/
/*========= einde campagne.html ============*/
/*========= begin account.html ===================*/
/*========= begin button persoonlijke gegevens =========*/
 .dropbtn {
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     color: black;
     font-size: 1rem;
     border: none;
     text-decoration: none;
     text-transform: uppercase;
     background-color: white;
     text-decoration: underline;
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
     border-top: 1px solid black;
     width: 94vw;
}
 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdown p{
     width: 250px;
     margin-left: -1.4rem;
}
 .dropbtn p::after{
     background-image: url('../images/svg/arrow-down.svg');
     background-size: 15px 20px;
     background-position: 1px 5px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 15px;
     height: 20px;
     content:"";
}
 .dropdown-content {
     display: none;
}
 .dropdown-content a {
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     color: black;
     display: block;
     line-height: 1.5rem;
     text-transform: uppercase;
     text-decoration: underline;
}
 .dropdown-content a:nth-of-type(1) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a:nth-of-type(2) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a:nth-of-type(3) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a:nth-of-type(4) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a:nth-of-type(5) {
     border-bottom: 0px;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a:nth-of-type(6) {
     border-bottom: 1px solid black;
     border-top: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a:nth-of-type(7) {
     border-bottom: 0px;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content a p{
     margin-left: 1px;
}
 .dropdown-content a:hover {
     color: #d98a3f;
}
 .dropdown:hover .dropdown-content {
     display: block;
}
 .dropdown:hover .dropbtn:hover {
     color: #d98a3f;
}
/*========= einde button persoonlijke gegevens ============*/
/*========= begin account ===================*/
 .container .flexContainerAccount {
     margin-left: 2%;
     margin-top: 7rem;
}
 .container .flexContainerAccount h2{
     margin-left: -1px;
}
 .container .flexContainerAccount .persoonlijkeGegevens h2:nth-of-type(1) {
     margin-top: 1rem;
}
 .container .flexContainerAccount p{
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-bottom: 2px;
}
 .persoonlijkeGegevens .radioBtn{
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     clear: both;
}
 .container .flexContainerAccount input[type="text"]{
     width: 250px;
     border: 1px solid #418c9f;
     color: black;
     background: #FFF;
     padding-left: 1rem;
     height: 40px;
     padding-right: 1rem;
     margin-bottom: 1rem;
}
 .container .flexContainerAccount input[type="password"]{
     width: 250px;
     border: 1px solid #418c9f;
     color: black;
     background: #FFF;
     padding-left: 1rem;
     height: 40px;
     padding-right: 1rem;
     margin-bottom: 1.5rem;
}
 .container .flexContainerAccount .persoonlijkeGegevens .wachtwoord input:last-of-type{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 0.9rem;
     background-color: #d98a3f;
     width: 250px;
     height: 42px;
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
     margin-bottom: 2rem;
}
 .container .flexContainerAccount .persoonlijkeGegevens .wachtwoord input:last-of-type:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .persoonlijkeGegevens .input1 input[type="text"]{
     width: 300px;
}
 .container .flexContainerAccount .huisnummer input[type="text"]{
     width: 110px;
     float: left;
     margin-right: 2rem;
}
 .container .flexContainerAccount .postcode input[type="text"] {
     width: 157px;
     float: left;
     margin-bottom: 5px;
}
 .container .flexContainerAccount .postcode{
     margin-top: -25px;
     float: left;
}
 .container .flexContainerAccount .radioBtn .container input{
     margin-bottom: 1rem;
}
 .container .flexContainerAccount .accountGegevens{
     display: none;
}
 .container .flexContainerAccount label.error{
     display: flex;
     margin: -10px 0 2rem 0;
     width: 180px;
     color: red;
}
/*========= einde account ===================*/
/*========= einde account.html ===================*/
/*========= begin contact.html ===================*/
/*========= begin contact main ===================*/
 .container .flexContainerContact{
     width: 100vw;
     margin-top: 7rem;
}
 .container .flexContainerContact h2{
     margin-left: 4%;
}
 .container .flexContainerContact p{
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-left: 4%;
     margin-bottom: 2px;
}
 .container .flexContainerContact input[type="text"]{
     width: 90vw;
     border: 1px solid #418c9f;
     color: black;
     background: #FFF;
     padding-left: 1rem;
     height: 40px;
     padding-right: 1rem;
     margin-bottom: 1rem;
     margin-left: 4%;
}
 .container .flexContainerContact .bericht input[type="text"]{
     height: 200px;
     width: 90vw;
     padding: 0 0 175px 5px;
}
 .container .flexContainerContact .radioBtn{
     margin-left: 4%;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 0.9rem;
     margin-bottom: 2rem;
}
 .container .flexContainerContact .wachtwoord{
     margin: 0 auto;
     text-align: center;
     width: 50%;
     margin-bottom: 2rem;
}
 .container .flexContainerContact .wachtwoord input:last-of-type{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 0.9rem;
     background-color: #d98a3f;
     width: 100%;
     height: 42px;
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
}
 .container .flexContainerContact .wachtwoord input:last-of-type:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .container .flexContainerContact label.error{
     display: block;
     margin: -10px 0 1rem 10%;
     color: red;
}
/*========= einde contact main ===================*/
/*========= einde contact.html ===================*/
/*========= begin registreer.html ===================*/
/*========= begin heroImageRegistreer ===================*/
 .heroImageRegistreer{
     width: 100vw;
     height: 600px;
     overflow: hidden;
     text-align: center;
}
 .heroImageRegistreer .container{
     width: 300vw;
     height: 600px;
     position: relative;
     margin-bottom: 12rem;
     text-align: center;
}
 .heroImageRegistreer .container img{
     position: absolute;
     z-index: 1;
     width: 100px;
     top: 15%;
     left: 12%;
}
 .heroImageRegistreer .container > div{
     width: 100vw;
     height: 600px;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
}
 .heroImageRegistreer .container div:nth-of-type(1){
     background-image: url('../images/hero/registreer-hero.jpg');
     background-size: 180% 110%;
     background-position: 40% 80%;
}
 .heroImageRegistreer .container div h2{
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.6rem;
     text-align: center;
     line-height: 2rem;
     position: relative;
     top: 40%;
     width: 280px;
     margin: 0 auto;
     padding-top: 0.5rem;
     text-shadow: 1px 1px 3px black;
     border-bottom: 7px solid #418c9f;
     letter-spacing: 2px;
}
/*========= einde heroImageRegistreer ===================*/
/*========= begin registreer main ===================*/
 .container .flexContainerRegistreer{
     width: 100vw;
     margin-top: 7rem;
}
 .container .flexContainerRegistreer h2{
     margin-left: 5%;
}
 .container .flexContainerRegistreer p{
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-bottom: 2px;
     margin-left: 5%;
}
 .container .flexContainerRegistreer input[type="text"]{
     width: 90vw;
     border: 1px solid #418c9f;
     color: black;
     background: #FFF;
     padding-left: 1rem;
     height: 40px;
     padding-right: 1rem;
     margin-bottom: 1rem;
     margin-left: 5%;
}
 .container .flexContainerRegistreer #datepicker{
     background: url(../images/svg/arrow-down.svg) no-repeat;
     background-size: 170vw 15px;
     background-position: 0 50%;
}
 .container .flexContainerRegistreer .aantalPersonen{
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-bottom: 1.5rem;
     margin-left: 5%;
}
 .container .flexContainerRegistreer .aantalPersonen input[type="number"]{
     width: 50px;
     height: 30px;
     padding-left: 3px;
}
 .container .flexContainerRegistreer .wachtwoord{
     margin: 0 auto;
     text-align: center;
     width: 50%;
     margin-bottom: 2rem;
}
 .container .flexContainerRegistreer .wachtwoord input:last-of-type{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 0.9rem;
     background-color: #d98a3f;
     width: 100%;
     height: 42px;
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
}
 .container .flexContainerRegistreer .wachtwoord input:last-of-type:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .container .flexContainerRegistreer img{
     display: none;
}
/*========= einde registreer main ===================*/
/*========= einde registreer.html ===================*/
/*========= begin het-laatste-nieuws.html ===============*/
/*========= begin het-laatste-nieuws main ==============*/
 .flexContainerHetLaatsteNieuws h2{
     color: #418c9f;
     text-align: left;
     text-transform: uppercase;
     font-size: 1.5rem;
     margin: 7rem 0 1rem 3vw;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws {
     box-shadow: 1px 3px 6px #418c9f;
     width: 94%;
     margin: 0rem 3% 2rem 3%;
     height: auto;
     padding: 1rem 1rem 2rem 1rem;
     margin-bottom: 2rem;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws h3{
     color: #d98a3f;
     font-family: 'Raleway';
     font-weight: 800;
     font-size: 1.2rem;
     margin-bottom: 1rem;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws p{
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-bottom: 1rem;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws img{
     width: 100%;
     max-height: 400px;
     object-fit: cover;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws a{
     text-decoration: none;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws .cta{
     text-align: center;
     font-family: 'Raleway';
     color: #FFF;
     text-decoration: none;
     font-weight: 700;
     font-size: 1.3rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 370px;
     height: 60px;
     padding-top: 1.2rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     margin: 2rem auto 0rem auto;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .flexContainerHetLaatsteNieuws .cardHetLaatsteNieuws .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
/*========= begin pagination ===================*/
 .pagination {
     display: flex;
     justify-content: center;
     margin: 0 auto 2rem auto;
     clear: both;
     font-size: 1.5rem;
}
 .pagination a {
     color: black;
     float: left;
     padding: 12px 16px;
     font-family: 'Raleway';
     text-decoration: none;
     margin: 0 2px 0 2px;
}
 .pagination a.active {
     background-color: #d98a3f;
     color: white;
     border-radius: 5px;
}
 .pagination a:hover:not(.active) {
     background-color: #ddd;
     border-radius: 5px;
}
/*========= einde pagination ===================*/
/*========= einde het-laatste-nieuws main ===================*/
/*========= einde het-laatste-nieuws.html ===============*/
/*========= begin recepten.html ===================*/
/*========= begin recepten button en slider =================*/
 .containerRecepten h2{
     color: #418c9f;
     text-align: left;
     text-transform: uppercase;
     font-size: 1.5rem;
     margin: 7rem 0 1rem 3vw;
}
 .radioButtons{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin-bottom: 1rem;
     float: left;
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-right: 20vw;
}
 .radioButtons input{
     margin-top: 10px;
     margin-right: 3vw;
     margin-left: 3vw;
     margin-bottom: 15px;
     width: 15px;
     height: 15px;
}
 .radioButtons2{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     margin-bottom: 1rem;
}
 .radioButtons2 input{
     margin-top: 13px;
     margin-right: 3vw;
     margin-left: 3vw;
     margin-bottom: 10px;
     width: 15px;
     height: 15px;
}
 .radioButtons2 label:nth-of-type(1)::after{
     background-image: url('../images/svg/pan.svg');
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
}
 .radioButtons2 label:nth-of-type(2)::after{
     background-image: url('../images/svg/oven.svg');
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
}
 .radioButtons2 label:nth-of-type(3)::after{
     background-image: url('../images/svg/bbq.svg');
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
}
 .slidecontainer{
     clear: both;
     margin-left: 3vw;
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-bottom: 1rem;
}
 .slidecontainer input{
     width: 40vw;
}
 .slidecontainer span:nth-of-type(1)::before{
     background-image: url('../images/svg/persons.svg');
     background-size: 50px 50px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 50px;
     height: 50px;
     content:"";
     vertical-align: top;
     line-height: 1rem;
     margin-top: -1rem;
     margin-right: 15vw;
}
 .slidecontainer span:nth-of-type(1){
     line-height: 1rem;
     vertical-align: top;
}
 .slidecontainer span:nth-of-type(2){
     line-height: 1rem;
     vertical-align: top;
}
/*========= einde recepten button en slider =================*/
/*========= begin recepten cards =================*/
 .flexContainerRecepten .cardRecepten {
     box-shadow: 1px 3px 6px #418c9f;
     width: 94%;
     margin: 0rem 3% 2rem 3%;
     height: auto;
     padding: 1rem 1rem 2rem 1rem;
     position: relative;
     margin-bottom: 2rem;
}
 .flexContainerRecepten .cardRecepten h3{
     color: #d98a3f;
     font-family: 'Raleway';
     font-weight: 800;
     font-size: 1.2rem;
     margin-bottom: 1.5rem;
}
 .flexContainerRecepten .cardRecepten div:first-of-type ul{
     display: inline-block;
     top: 10px;
     right: 0;
     font-size: 0;
     position: absolute;
     margin-right: 10px;
}
 .flexContainerRecepten .cardRecepten div:first-of-type ul li{
     display: inline-block;
     width: 25px;
     height: auto;
     margin-right: 10px;
}
 .flexContainerRecepten .cardRecepten div:first-of-type ul li:first-of-type{
     background-image: url(../images/svg/pan.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
     vertical-align: top;
}
 .flexContainerRecepten .cardRecepten div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/vis.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
     vertical-align: top;
}
 .flexContainerRecepten .cardRecepten div:first-of-type ul li:nth-of-type(3){
     background-image: url(../images/svg/tijd.svg);
     background-size: 25px 25px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 25px;
     height: 25px;
     content:"";
     vertical-align: top;
}
 .flexContainerRecepten .cardRecepten:nth-of-type(2) div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/kip.svg);
}
 .flexContainerRecepten .cardRecepten:nth-of-type(4) div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/kip.svg);
}
 .flexContainerRecepten .cardRecepten:nth-of-type(6) div:first-of-type ul li:nth-of-type(2){
     background-image: url(../images/svg/dessert.svg);
}
 .flexContainerRecepten .cardRecepten div:first-of-type ul p{
     position: absolute;
     top: 35px;
     right: 1px;
     font-size: 0.8rem;
     font-family: 'Raleway';
}
 .flexContainerRecepten .cardRecepten div:nth-of-type(2) ul{
     display: flex;
     flex-direction: column;
     list-style-type: disc;
     margin-left: 1rem;
     margin-bottom: 1rem;
     font-size: 0.9rem;
}
 .flexContainerRecepten .cardRecepten div:nth-of-type(2) li{
     line-height: 1.3rem;
     font-family: 'Raleway';
     font-weight: 500;
     max-width: 320px;
}
 .flexContainerRecepten .cardRecepten img{
     width: 100%;
     max-height: 400px;
     object-fit: cover;
}
 .flexContainerRecepten .cardRecepten a{
     text-decoration: none;
}
 .flexContainerRecepten .cardRecepten .cta{
     text-align: center;
     font-family: 'Raleway';
     color: #FFF;
     text-decoration: none;
     font-weight: 700;
     font-size: 1.3rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 370px;
     height: 60px;
     padding-top: 1.2rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     margin: 2rem auto 0rem auto;
}
 .flexContainerRecepten .cardRecepten .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .flexContainerRecepten .cardRecepten .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
/*========= einde recepten cards =================*/
/*========= einde recepten.html ===================*/
/*========= begin winkelwagen.html ===================*/
/*========= begin winkelwagen main =================*/
 .container .flexContainerWinkelwagen h2{
     margin-left: 3%;
     border-bottom: 2px solid #418c9f;
     width: 94vw;
     padding-bottom: 1rem;
     margin-top: 7rem;
}
 .cardWinkelwagen{
     margin-left: 3%;
}
 .cardWinkelwagen img{
     width: 128px;
     height: 130px;
     float: left;
     margin-right: 1rem;
}
 .cardWinkelwagen div:nth-of-type(1) h2{
     padding-bottom: 0;
     margin-bottom: 5px;
     border-bottom: 0px;
}
 .cardWinkelwagen ul{
     width: 47vw;
     font-family: 'Raleway';
     font-weight: 600;
     font-size: 0.8rem;
     line-height: 1.3rem;
     float: left;
     list-style-type: disc;
     margin-left: 1rem;
}
 .cardWinkelwagen .winkelwagenPrijs h3{
     margin-left: -1px;
     display: inline-block;
     margin-right: 6.9rem;
     font-family: 'Raleway';
     font-weight: 600;
     color: #418c9f;
     font-size: 1rem;
     margin-top: 2rem;
}
 .winkelwagenPrijs{
     font-family: 'Raleway';
}
 .winkelwagenPrijs label{
     text-transform: uppercase;
     margin-right: 10px;
}
 .winkelwagenPrijs input{
     border-radius: 9px;
     width: 50px;
     height: 30px;
     padding-left: 3px;
     margin-right: 10px;
}
 .winkelwagenPrijs #datepicker{
     background: url(../images/svg/arrow-down.svg) no-repeat;
     background-size: 10px 25px;
     background-position: 55% 70%;
}
 .winkelwagenPrijs a{
     text-decoration: none;
}
 .kostenWinkelwagen{
     font-family: 'Raleway';
     margin-left: 3%;
     font-weight: 600;
     font-size: 1rem;
     line-height: 2rem;
     width: 100vw;
     border-top: 2px solid #418c9f;
     width: 94vw;
     margin-top: 2rem;
}
 .kostenWinkelwagen div:nth-of-type(1) p{
     font-family: 'Raleway';
     display: inline-block;
     margin-right: 1rem;
     margin-bottom: 2rem;
     margin-top: 2rem;
     text-transform: uppercase;
}
 .kostenWinkelwagen div:nth-of-type(1) input{
     border-radius: 5px;
     border: 1px solid #418c9f;
     height: 40px;
     padding-left: 5px;
}
 .kostenWinkelwagen td:first-child{
     color: #418c9f;
     margin-left: 20vw;
}
 .kostenWinkelwagen td:nth-child(2){
     display: block;
     margin-left: 2rem;
}
 .kostenWinkelwagen tr:nth-of-type(3){
     border-bottom: 2px solid black;
}
 .kostenWinkelwagen .wachtwoord{
     margin-left: 23vw;
     text-align: center;
     width: 50%;
     margin-bottom: 2rem;
     margin-top: 2rem;
}
 .kostenWinkelwagen .wachtwoord button{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 0.9rem;
     background-color: #d98a3f;
     width: 100%;
     max-width: 200px;
     height: 42px;
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
}
 .kostenWinkelwagen .wachtwoord button p{
     display: inline-block;
     padding-bottom: 6px;
     font-size: 1.5rem;
     text-align: center;
     font-family: 'Raleway';
}
 .kostenWinkelwagen .wachtwoord button:last-of-type:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
/*========= einde winkelwagen.html ===================*/
/*========= begin shop.html ===================*/
/*========= begin shop hero image =================*/
 .heroImageShop{
     width: 100vw;
     height: 600px;
     overflow: hidden;
     text-align: center;
}
 .heroImageShop .container{
     width: 300vw;
     height: 600px;
     position: relative;
     margin-bottom: 12rem;
     text-align: center;
}
 .heroImageShop .container img{
     position: absolute;
     z-index: 1;
     width: 100px;
     top: 15%;
     left: 12%;
}
 .heroImageShop .container > div{
     width: 100vw;
     height: 600px;
     position: absolute;
     top: 0;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center;
}
 .heroImageShop .container div:nth-of-type(1){
     background-image: url('../images/hero/shop-hero-image.jpg');
     background-size: cover;
     background-position: 45%;
}
 .heroImageShop .container div h2{
     color: white;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.6rem;
     text-align: center;
     line-height: 2rem;
     position: relative;
     top: 40%;
     width: 280px;
     margin: 0 auto;
     padding-top: 0.5rem;
     text-shadow: 1px 1px 3px black;
     border-bottom: 7px solid #418c9f;
     letter-spacing: 2px;
}
 .heroImageShop .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.5rem;
     background-color: #d98a3f;
     position:absolute;
     top: 80%;
     left: 10%;
     width: 80%;
     height: 12%;
     color: #FFF;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
     padding-top: 1.3rem;
     text-decoration: none;
}
 .heroImageShop .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
/*========= einde shop hero image =================*/
/*========= begin shop uitgelicht boeken ===================*/
 .flexContainerBooks2 h2{
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     width: 92vw;
     display: none;
}
 .uitgelichtBoeken1 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/simply-nigella/simpy-nigella-boe-overlay.jpg);
     height: 400px;
     width: 90%;
     background-position: center;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
     float: left;
     margin: 0rem 1rem 2rem 1rem;
}
 .flexContainerBooks2 .uitgelichtBoeken2 h3{
     margin-top: 32rem;
}
 .uitgelichtBoeken2 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/sweet/sweet-voorzijde-overlay.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: center;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .flexContainerBooks2 .uitgelichtBoeken3 h3{
     margin-top: 32rem;
}
 .uitgelichtBoeken3 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/jamies-superfood/jamies-super-food-overlay.jpg);
     background-repeat: no-repeat;
     background-size: 250% 290%;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: 35% 50%;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 main article .container .flexContainerBooks2 .uitgelichtBoekTekst{
     text-align: left;
     width: 90vw;
     margin-bottom: 1rem;
     font-weight: 600;
     line-height: 1.5rem;
     margin-top: -10px;
     margin-left: 1rem;
     font-family: 'Raleway';
}
 .uitgelichtBoeken3{
     display: none;
}
/*========= einde shop uitgelicht boeken =================*/
/*========= begin shop categorieen===================*/
 .dropbtn2 {
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     color: #418c9f;
     font-size: 1rem;
     border: none;
     text-decoration: none;
     text-transform: uppercase;
     background-color: white;
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
     border-top: 1px solid black;
     width: 94vw;
     margin-bottom: -2rem;
}
 .dropdown2 {
     position: relative;
     display: inline-block;
}
 .dropdown2 p{
     width: 250px;
     margin-left: -4rem;
}
 .dropbtn2 p::after{
     background-image: url('../images/svg/arrow-down.svg');
     background-size: 15px 20px;
     background-position: 1px 5px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 15px;
     height: 20px;
     content:"";
}
 .dropdown-content2 {
     display: none;
}
 .dropdown-content2 a {
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     color: #418c9f;
     display: block;
     line-height: 1.5rem;
     text-transform: uppercase;
     text-decoration: none;
     margin-left: 2rem;
     margin-top: 1.5rem;
}
 .dropdown-content2 a:nth-of-type(1) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a:nth-of-type(2) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a:nth-of-type(3) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a:nth-of-type(4) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a:nth-of-type(5) {
     border-bottom: 0px;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a:nth-of-type(6) {
     border-bottom: 1px solid black;
     border-top: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a:nth-of-type(7) {
     border-bottom: 0px;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content2 a p{
     margin-left: 1px;
}
 .dropdown-content2 a:hover {
     color: #d98a3f;
}
 .dropdown2:hover .dropdown-content2 {
     display: block;
}
 .dropdown2:hover .dropbtn2:hover {
     color: #d98a3f;
}
 .dropbtn3 {
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     color: #418c9f;
     font-size: 1rem;
     border: none;
     text-decoration: none;
     text-transform: uppercase;
     background-color: white;
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
     border-top: 1px solid black;
     width: 94vw;
     margin-left: -10px;
     margin-top: -2rem;
}
 .dropdown3 {
     position: relative;
     display: inline-block;
}
 .dropdown3 p{
     width: 250px;
     margin-left: -5rem;
}
 .dropbtn3 p::after{
     background-image: url('../images/svg/arrow-down.svg');
     background-size: 15px 20px;
     background-position: 1px 5px;
     background-repeat: no-repeat;
     display: inline-block;
     width: 15px;
     height: 20px;
     content:"";
}
 .dropdown-content3 {
     display: none;
}
 .dropdown-content3 a {
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     color: #418c9f;
     display: block;
     line-height: 1.5rem;
     text-transform: uppercase;
     text-decoration: none;
     margin-left: 2rem;
}
 .dropdown-content3 a:nth-of-type(1) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a:nth-of-type(2) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a:nth-of-type(3) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a:nth-of-type(4) {
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a:nth-of-type(5) {
     border-bottom: 0px;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a:nth-of-type(6) {
     border-bottom: 1px solid black;
     border-top: 1px solid black;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a:nth-of-type(7) {
     border-bottom: 0px;
     padding-bottom: 1rem;
     padding-top: 1rem;
}
 .dropdown-content3 a p{
     margin-left: 1px;
}
 .dropdown-content3 a:hover {
     color: #d98a3f;
}
 .dropdown3:hover .dropdown-content3 {
     display: block;
}
 .dropdown3:hover .dropbtn3:hover {
     color: #d98a3f;
}
 .slidecontainer2{
     clear: both;
     margin-left: 3vw;
     font-family: 'Raleway';
     font-weight: 700;
     line-height: 1.5rem;
     margin-bottom: 0.5rem;
     margin-top: 5.5rem;
     width: 94vw;
     border-top: 1px solid black;
     padding-top: 1rem;
     border-bottom: 1px solid black;
     padding-bottom: 1rem;
     margin-left: -9px;
     color: #418c9f;
}
 .slidecontainer2 input{
     width: 75vw;
}
 .slidecontainer2 span:nth-of-type(1){
     line-height: 1rem;
     vertical-align: top;
}
 .slidecontainer2 span:nth-of-type(2){
     line-height: 1rem;
     vertical-align: top;
}
/*========= einde shop categorieen =================*/
/*========= begin shop boeken ===================*/
 main article .container .cardBooks2{
     background: rgba (65, 140, 159, 0.9);
     height: 100%;
     margin-left: 2%;
     z-index: 2;
}
 .flexContainerBooks2 h3{
     color: #418c9f;
     text-align: left;
     text-transform: uppercase;
     font-size: 1.5rem;
     margin: 3rem 0 1rem 1rem;
}
 .boeken1 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/simply-nigella/simpy-nigella-boe-overlay.jpg);
     height: 400px;
     width: 90%;
     background-position: center;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
     float: left;
     margin: 0rem 1rem 2rem 1rem;
}
 .boeken2 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/sweet/sweet-voorzijde-overlay.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: center;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken3 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/jamies-superfood/jamies-super-food-overlay.jpg);
     background-repeat: no-repeat;
     background-size: 250% 290%;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: 35% 50%;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken4 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/simply-nigella/simpy-nigella-boe-overlay.jpg);
     height: 400px;
     width: 90%;
     background-position: center;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
     float: left;
     margin: 0rem 1rem 2rem 1rem;
}
 .boeken5 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/sweet/sweet-voorzijde-overlay.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: center;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken6 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/jamies-superfood/jamies-super-food-overlay.jpg);
     background-repeat: no-repeat;
     background-size: 250% 290%;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: 35% 50%;
     float: left;
     background-color: aqua;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken7 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/simply-nigella/simpy-nigella-boe-overlay.jpg);
     height: 400px;
     width: 90%;
     background-position: center;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
     float: left;
     margin: 0rem 1rem 2rem 1rem;
}
 .boeken8 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/sweet/sweet-voorzijde-overlay.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: center;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken9 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/jamies-superfood/jamies-super-food-overlay.jpg);
     background-repeat: no-repeat;
     background-size: 250% 290%;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: 35% 50%;
     float: left;
     background-color: aqua;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken10 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/simply-nigella/simpy-nigella-boe-overlay.jpg);
     height: 400px;
     width: 90%;
     background-position: center;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
     float: left;
     margin: 0rem 1rem 2rem 1rem;
}
 .boeken11 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/sweet/sweet-voorzijde-overlay.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: center;
     float: left;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 .boeken12 .cardBooks2:nth-of-type(1){
     background-image: url(../images/boeken/jamies-superfood/jamies-super-food-overlay.jpg);
     background-repeat: no-repeat;
     background-size: 250% 290%;
     height: 400px;
     width: 90%;
     margin: 0rem 1rem 2rem 1rem;
     background-position: 35% 50%;
     float: left;
     background-color: aqua;
    /* safari pakt de box inset niet. box-shadow:inset 0 0 0 2000px rgb(51, 51, 51, 0.3);
     */
}
 main article .container .flexContainerBooks2 .shopBoekTekst{
     text-align: center;
     width: 80vw;
     margin: 0 auto;
     font-family: 'Raleway';
}
 .prijs{
     width: 80px;
     font-family: 'Raleway';
     font-weight: 600;
     color: #418c9f;
     font-size: 1rem;
     margin-top: 10px;
     margin-right: 9%;
     float: right;
     margin-bottom: 2rem;
}
 main article .container .cardBooks2 .cta{
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 1.3rem;
     background-color: #d98a3f;
     position:relative;
     top: 90%;
     left: 0%;
     width: 100%;
     height: 12%;
     padding-top: 1rem;
     text-transform: uppercase;
     box-shadow: 0px 3px 6px #333333;
}
 main article .container .cardBooks2 .cta a{
     color: #FFF;
     text-decoration: none;
     font-family: 'Raleway';
}
 main article .container .cardBooks2 .cta:hover{
     box-shadow: 0px 6px 8px #595959;
}
 .boeken7{
     display: none;
}
 .boeken8{
     display: none;
}
 .boeken9{
     display: none;
}
 .boeken10{
     display: none;
}
 .boeken11{
     display: none;
}
 .boeken12{
     display: none;
}
/*========= einde shop boeken =================*/
/*========= einde shop.html ===================*/
/*========= begin shop-reviews.html =================*/
/*========= begin boek img met thumbnails ==============*/
 .container .flexContainerShop2{
     width: 94vw;
}
 .container .flexContainerShop2 p{
     font-family: 'Raleway';
     font-weight: 600;
     line-height: 1.5rem;
}
 .container h2{
     color: #418c9f;
     text-align: left;
     text-transform: uppercase;
     font-size: 1.5rem;
     margin: 7rem 0 1rem 0px;
     padding-bottom: 1rem;
}
 .shop2Images img{
     width: 103vw;
     height: 400px;
     margin-left: -5.5vw;
     object-fit: fill;
}
 .shop2ImagesThumbnail{
     margin-left: 5vw;
}
 .shop2ImagesThumbnail img{
     width: 15vw;
     height: 80px;
     margin-right: 1.5rem;
     margin-top: 1rem;
}
 .shop2ImagesThumbnail img:nth-of-type(5){
     display: none;
}
 .shop2Headers{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin: 1rem 0 1rem 0;
     width: 90vw;
}
 .shop2HeaderTekst{
     display: flex;
     width: 90vw;
     justify-content: center;
     margin: 2rem 0 2rem 0;
}
 .flexContainerShop2 ul{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 90vw;
     list-style-type: disc;
     margin: 2rem 0 0rem 0;
}
 .flexContainerShop2 ul li{
     margin: 2px 1rem 1rem 1rem;
     font-family: 'Raleway';
     font-weight: 600;
     color: black;
     line-height: 1.5rem;
     text-decoration: none;
     width: 33vw;
}
 .shop2Categorieen{
     display: flex;
     justify-content: space-between;
     width: 90vw;
}
 .shop2Categorieen p{
     margin: 2rem 0 1rem 0;
}
 .shop2Categorieen p:nth-of-type(4){
     display: none;
}
 .flexContainerShop2 .shop2Prijs{
     display: none;
}
 .flexContainerShop2 button{
     width: 90vw;
     background-color: #d98a3f;
     height: 40px;
     margin: 1rem 0 1rem 0;
}
 .flexContainerShop2 button:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
/*========= einde boek img met thumbnails ==============*/
/*========= reviews shop2 ==============*/
 .reviewAside{
     margin-left: 1rem;
}
 .shopContainer .shoph2{
     font-size: 1.3rem;
     color: #418c9f;
     margin-left: 14px;
     margin-top: 2rem;
     margin-bottom: 1rem;
}
 .reviewAside p{
     font-family: 'Raleway';
     font-weight: 600;
     line-height: 1.5rem;
}
 .review{
     display: flex;
     flex-direction: column;
     margin-top: 2rem;
}
 .review ul:nth-of-type(1){
     display: flex;
     justify-content: space-between;
     margin-left: -5vw;
     margin: 1rem 0 1rem 0;
     font-family: 'Raleway';
     font-weight: 600;
}
 .review ul li{
     font-family: 'Raleway';
     font-weight: 600;
     line-height: 1.5rem;
}
 .review ul:nth-of-type(1) li:nth-of-type(1){
     border-right: 1px solid black;
     width: 18vw;
     margin-left: -1px;
}
 .review ul:nth-of-type(1) li:nth-of-type(2){
     border-right: 1px solid black;
     width: 15vw;
}
 .review ul:nth-of-type(1) li:nth-of-type(3){
     border-right: 1px solid black;
     width: 15vw;
}
 .review ul:nth-of-type(1) li:nth-of-type(4){
     width: 15vw;
}
 .review ul{
     display: flex;
     flex-direction: row;
}
 .review .stars{
     display: flex;
     justify-content: space-between;
     width: 8rem;
}
 .review p{
     width: 90vw;
     margin: 1rem 0 1rem 0;
}
 .review ul:nth-of-type(2){
     display: flex;
     flex-direction: column;
     width: 70%;
     height: 7rem;
     margin: 0 0 3rem 0;
}
 .review ul:nth-of-type(2) li{
     margin-top: 10px;
}
 .review:nth-of-type(3){
     display: none;
}
/*========= einde reviews shop2 ==============*/
/*========= begin shop2 boeken ==============*/
 .flexContainerManyBooks2{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
}
 .flexContainerManyBooks2 p{
     font-family: 'Raleway';
     font-weight: 600;
     line-height: 1.5rem;
}
 .flexContainerManyBooks2 h3{
     margin-bottom: 1rem;
     margin-top: 1rem;
     color: #418c9f;
     display: flex;
     justify-content: flex-start;
     font-weight: 600;
}
 .flexContainerManyBooks2 .cardManyBooks2 img{
     object-fit: cover;
     width: 90vw;
     height: 300px;
}
 .flexContainerManyBooks2 .cardManyBooks2 a{
     text-decoration: none;
}
 .flexContainerManyBooks2 .cardManyBooks2 .cta{
     display: flex;
     justify-content: center;
     padding-top: 1rem;
     background-color: #d98a3f;
     height: 60px;
     position: relative;
     top: -60px;
     font-size: 1.2rem;
     line-height: 1.5rem;
     width: 90vw;
     color: #FFF;
     text-align: center;
     font-family: 'Raleway';
     font-weight: 700;
     text-decoration: none;
}
 .flexContainerManyBooks2 .cardManyBooks2 .cta:hover{
     box-shadow: 0px 6px 8px #595959;
     text-decoration: none;
}
 .flexContainerManyBooks2 .cardManyBooks2 p{
     display: flex;
     justify-content: center;
     margin-top: -3rem;
     text-align: center;
     width: 90vw;
}
 .flexContainerManyBooks2 .cardManyBooks2 p:last-of-type{
     display: flex;
     justify-content: flex-end;
     margin-top: 1rem;
     margin-bottom: 2rem;
     color: #418c9f;
}
 .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(7){
     display: none;
}
 .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(8){
     display: none;
}
 .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(9){
     display: none;
}
 .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(10){
     display: none;
}
 .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(11){
     display: none;
}
 .flexContainerManyBooks2 .cardManyBooks2:nth-of-type(12){
     display: none;
}
/*========= einde shop2 boeken ==============*/
/*========= einde shop-reviews.html ===================*/
/*========= Begin koe.html ===================*/
 .koeFlexContainer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 6rem;
}
 #koeMenu{
     width: 50%;
     align-self: center;
}
 path{
     fill: #418c9f;
     transition: .6s fill;
}
 path:hover{
     fill: #D98A3f;
     width: 150%;
     height: 150%;
}
 path:active{
     fill: #808080;
     transition: .1s fill;
}
 #b1{
     fill: #418c9f;
     transition: .6s fill;
}
 #b2{
     fill: rgb(65,140,159);
     fill-rule: nonzero;
}
 #b3{
     fill: rgb(65,140,159);
     fill-rule: nonzero;
}
 #b4{
     fill: rgb(65,140,159);
     fill-rule: nonzero;
     stroke: black;
     stroke-width: 1px;
     stroke-dasharray: 4.06,2.03;
}
 .dynamicContent {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     line-height: 1.5rem;
     font-weight: 700;
}
 .dynamicContent img{
     align-self: center;
     width: 50%;
     height: auto;
     border-radius: 10px;
     margin-top: 1rem;
}
 .dynamicContent h1{
     display: flex;
     justify-content: center;
     margin-top: 1rem;
     margin-bottom: 1rem;
     font-size: 1.3rem;
}
 .dynamicContent p{
     margin-bottom: 3rem;
     font-family: 'Raleway';
}
/*========= einde koe.html ===================*/
/*========= oeps verkeerd index.html ===================*/
 .oeps{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
 .oeps img{
     width: 40%;
     align-self: center;
}
 .oeps h1{
     align-self: center;
     font-size: 1.5rem;
}
 .oeps p{
     align-self: center;
     margin-top: 1rem;
}
/*========= einde verkeerd index.html ===================*/